/*---------------------OTHER STYLES-----------------------------------------*/
@font-face {
  font-family: 'thesans_2e-extralightexpertRg';
  src: url('../fonts/thesa36-webfont.eot');
  src: url('../fonts/thesa36-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa36-webfont.woff2') format('woff2'), url('../fonts/thesa36-webfont.woff') format('woff'), url('../fonts/thesa36-webfont.ttf') format('truetype'), url('../fonts/thesa36-webfont.svg#thesans_2e-extralightexpertRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_2e-extralightexpertIt';
  src: url('../fonts/thesa37-webfont.eot');
  src: url('../fonts/thesa37-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa37-webfont.woff2') format('woff2'), url('../fonts/thesa37-webfont.woff') format('woff'), url('../fonts/thesa37-webfont.ttf') format('truetype'), url('../fonts/thesa37-webfont.svg#thesans_2e-extralightexpertIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_2-extralightitalic';
  src: url('../fonts/thesa38-webfont.eot');
  src: url('../fonts/thesa38-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa38-webfont.woff2') format('woff2'), url('../fonts/thesa38-webfont.woff') format('woff'), url('../fonts/thesa38-webfont.ttf') format('truetype'), url('../fonts/thesa38-webfont.svg#thesans_2-extralightitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_2-extralightplain';
  src: url('../fonts/thesa39-webfont.eot');
  src: url('../fonts/thesa39-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa39-webfont.woff2') format('woff2'), url('../fonts/thesa39-webfont.woff') format('woff'), url('../fonts/thesa39-webfont.ttf') format('truetype'), url('../fonts/thesa39-webfont.svg#thesans_2-extralightplain') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_5italic';
  src: url('../fonts/thesa40-webfont.eot');
  src: url('../fonts/thesa40-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa40-webfont.woff2') format('woff2'), url('../fonts/thesa40-webfont.woff') format('woff'), url('../fonts/thesa40-webfont.ttf') format('truetype'), url('../fonts/thesa40-webfont.svg#thesans_5italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_3-lightcaps';
  src: url('../fonts/thesa41-webfont.eot');
  src: url('../fonts/thesa41-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa41-webfont.woff2') format('woff2'), url('../fonts/thesa41-webfont.woff') format('woff'), url('../fonts/thesa41-webfont.ttf') format('truetype'), url('../fonts/thesa41-webfont.svg#thesans_3-lightcaps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_3-lightcaps_italic';
  src: url('../fonts/thesa42-webfont.eot');
  src: url('../fonts/thesa42-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa42-webfont.woff2') format('woff2'), url('../fonts/thesa42-webfont.ttf') format('truetype'), url('../fonts/thesa42-webfont.svg#thesans_3-lightcaps_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_3e-lightexpertregular';
  src: url('../fonts/thesa43-webfont.eot');
  src: url('../fonts/thesa43-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa43-webfont.woff2') format('woff2'), url('../fonts/thesa43-webfont.woff') format('woff'), url('../fonts/thesa43-webfont.ttf') format('truetype'), url('../fonts/thesa43-webfont.svg#thesans_3e-lightexpertregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_3e-lightexperexpertIt';
  src: url('../fonts/thesa44-webfont.eot');
  src: url('../fonts/thesa44-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa44-webfont.woff2') format('woff2'), url('../fonts/thesa44-webfont.woff') format('woff'), url('../fonts/thesa44-webfont.ttf') format('truetype'), url('../fonts/thesa44-webfont.svg#thesans_3e-lightexperexpertIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_3-lightplain';
  src: url('../fonts/thesa46-webfont.eot');
  src: url('../fonts/thesa46-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa46-webfont.woff2') format('woff2'), url('../fonts/thesa46-webfont.woff') format('woff'), url('../fonts/thesa46-webfont.ttf') format('truetype'), url('../fonts/thesa46-webfont.svg#thesans_3-lightplain') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_5plain';
  src: url('../fonts/thesa47-webfont.eot');
  src: url('../fonts/thesa47-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa47-webfont.woff2') format('woff2'), url('../fonts/thesa47-webfont.woff') format('woff'), url('../fonts/thesa47-webfont.ttf') format('truetype'), url('../fonts/thesa47-webfont.svg#thesans_5plain') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'the_sans_black-caps';
  src: url('../fonts/thesa12-webfont.eot');
  src: url('../fonts/thesa12-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa12-webfont.woff2') format('woff2'), url('../fonts/thesa12-webfont.woff') format('woff'), url('../fonts/thesa12-webfont.ttf') format('truetype'), url('../fonts/thesa12-webfont.svg#the_sans_black-caps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'the_sans_black-caps_italic';
  src: url('../fonts/thesa13-webfont.eot');
  src: url('../fonts/thesa13-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa13-webfont.woff2') format('woff2'), url('../fonts/thesa13-webfont.woff') format('woff'), url('../fonts/thesa13-webfont.ttf') format('truetype'), url('../fonts/thesa13-webfont.svg#the_sans_black-caps_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_9e-blackexpertregular';
  src: url('../fonts/thesa14-webfont.eot');
  src: url('../fonts/thesa14-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa14-webfont.woff2') format('woff2'), url('../fonts/thesa14-webfont.woff') format('woff'), url('../fonts/thesa14-webfont.ttf') format('truetype'), url('../fonts/thesa14-webfont.svg#thesans_9e-blackexpertregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_9e-blackexperexpertIt';
  src: url('../fonts/thesa15-webfont.eot');
  src: url('../fonts/thesa15-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa15-webfont.woff2') format('woff2'), url('../fonts/thesa15-webfont.woff') format('woff'), url('../fonts/thesa15-webfont.ttf') format('truetype'), url('../fonts/thesa15-webfont.svg#thesans_9e-blackexperexpertIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'the_sans_black-italic';
  src: url('../fonts/thesa16-webfont.eot');
  src: url('../fonts/thesa16-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa16-webfont.woff2') format('woff2'), url('../fonts/thesa16-webfont.woff') format('woff'), url('../fonts/thesa16-webfont.ttf') format('truetype'), url('../fonts/thesa16-webfont.svg#the_sans_black-italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'the_sans_black-plain';
  src: url('../fonts/thesa17-webfont.eot');
  src: url('../fonts/thesa17-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa17-webfont.woff2') format('woff2'), url('../fonts/thesa17-webfont.woff') format('woff'), url('../fonts/thesa17-webfont.ttf') format('truetype'), url('../fonts/thesa17-webfont.svg#the_sans_black-plain') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_7-boldcaps';
  src: url('../fonts/thesa18-webfont.eot');
  src: url('../fonts/thesa18-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa18-webfont.woff2') format('woff2'), url('../fonts/thesa18-webfont.woff') format('woff'), url('../fonts/thesa18-webfont.ttf') format('truetype'), url('../fonts/thesa18-webfont.svg#thesans_7-boldcaps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_7-boldcaps_italic';
  src: url('../fonts/thesa19-webfont.eot');
  src: url('../fonts/thesa19-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa19-webfont.woff2') format('woff2'), url('../fonts/thesa19-webfont.woff') format('woff'), url('../fonts/thesa19-webfont.ttf') format('truetype'), url('../fonts/thesa19-webfont.svg#thesans_7-boldcaps_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_7e-boldexpertregular';
  src: url('../fonts/thesa20-webfont.eot');
  src: url('../fonts/thesa20-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa20-webfont.woff2') format('woff2'), url('../fonts/thesa20-webfont.woff') format('woff'), url('../fonts/thesa20-webfont.ttf') format('truetype'), url('../fonts/thesa20-webfont.svg#thesans_7e-boldexpertregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_7e-boldexpertexpertIt';
  src: url('../fonts/thesa21-webfont.eot');
  src: url('../fonts/thesa21-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa21-webfont.woff2') format('woff2'), url('../fonts/thesa21-webfont.woff') format('woff'), url('../fonts/thesa21-webfont.ttf') format('truetype'), url('../fonts/thesa21-webfont.svg#thesans_7e-boldexpertexpertIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_7-bolditalic';
  src: url('../fonts/thesa22-webfont.eot');
  src: url('../fonts/thesa22-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa22-webfont.woff2') format('woff2'), url('../fonts/thesa22-webfont.woff') format('woff'), url('../fonts/thesa22-webfont.ttf') format('truetype'), url('../fonts/thesa22-webfont.svg#thesans_7-bolditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_7-boldplain';
  src: url('../fonts/thesa23-webfont.eot');
  src: url('../fonts/thesa23-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa23-webfont.woff2') format('woff2'), url('../fonts/thesa23-webfont.woff') format('woff'), url('../fonts/thesa23-webfont.ttf') format('truetype'), url('../fonts/thesa23-webfont.svg#thesans_7-boldplain') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_6-semiboldcaps';
  src: url('../fonts/thesa48-webfont.eot');
  src: url('../fonts/thesa48-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa48-webfont.woff2') format('woff2'), url('../fonts/thesa48-webfont.woff') format('woff'), url('../fonts/thesa48-webfont.ttf') format('truetype'), url('../fonts/thesa48-webfont.svg#thesans_6-semiboldcaps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_6-semiboldcaps_italic';
  src: url('../fonts/thesa49-webfont.eot');
  src: url('../fonts/thesa49-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa49-webfont.woff2') format('woff2'), url('../fonts/thesa49-webfont.woff') format('woff'), url('../fonts/thesa49-webfont.ttf') format('truetype'), url('../fonts/thesa49-webfont.svg#thesans_6-semiboldcaps_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_6e-semiboldexpertRg';
  src: url('../fonts/thesa50-webfont.eot');
  src: url('../fonts/thesa50-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa50-webfont.woff2') format('woff2'), url('../fonts/thesa50-webfont.woff') format('woff'), url('../fonts/thesa50-webfont.ttf') format('truetype'), url('../fonts/thesa50-webfont.svg#thesans_6e-semiboldexpertRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_6e-semiboldexexpertIt';
  src: url('../fonts/thesa51-webfont.eot');
  src: url('../fonts/thesa51-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa51-webfont.woff2') format('woff2'), url('../fonts/thesa51-webfont.woff') format('woff'), url('../fonts/thesa51-webfont.ttf') format('truetype'), url('../fonts/thesa51-webfont.svg#thesans_6e-semiboldexexpertIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_6-semibolditalic';
  src: url('../fonts/thesa52-webfont.eot');
  src: url('../fonts/thesa52-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa52-webfont.woff2') format('woff2'), url('../fonts/thesa52-webfont.woff') format('woff'), url('../fonts/thesa52-webfont.ttf') format('truetype'), url('../fonts/thesa52-webfont.svg#thesans_6-semibolditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_6-semiboldplain';
  src: url('../fonts/thesa53-webfont.eot');
  src: url('../fonts/thesa53-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa53-webfont.woff2') format('woff2'), url('../fonts/thesa53-webfont.woff') format('woff'), url('../fonts/thesa53-webfont.ttf') format('truetype'), url('../fonts/thesa53-webfont.svg#thesans_6-semiboldplain') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_4-semilightcaps';
  src: url('../fonts/thesa54-webfont.eot');
  src: url('../fonts/thesa54-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa54-webfont.woff2') format('woff2'), url('../fonts/thesa54-webfont.woff') format('woff'), url('../fonts/thesa54-webfont.ttf') format('truetype'), url('../fonts/thesa54-webfont.svg#thesans_4-semilightcaps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_4-semilightcapsIt';
  src: url('../fonts/thesa55-webfont.eot');
  src: url('../fonts/thesa55-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa55-webfont.woff2') format('woff2'), url('../fonts/thesa55-webfont.woff') format('woff'), url('../fonts/thesa55-webfont.ttf') format('truetype'), url('../fonts/thesa55-webfont.svg#thesans_4-semilightcapsIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_4e-semilightexpertRg';
  src: url('../fonts/thesa56-webfont.eot');
  src: url('../fonts/thesa56-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa56-webfont.woff2') format('woff2'), url('../fonts/thesa56-webfont.woff') format('woff'), url('../fonts/thesa56-webfont.ttf') format('truetype'), url('../fonts/thesa56-webfont.svg#thesans_4e-semilightexpertRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_4e-semilighteexpertIt';
  src: url('../fonts/thesa57-webfont.eot');
  src: url('../fonts/thesa57-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa57-webfont.woff2') format('woff2'), url('../fonts/thesa57-webfont.woff') format('woff'), url('../fonts/thesa57-webfont.ttf') format('truetype'), url('../fonts/thesa57-webfont.svg#thesans_4e-semilighteexpertIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_4-semilightitalic';
  src: url('../fonts/thesa58-webfont.eot');
  src: url('../fonts/thesa58-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa58-webfont.woff2') format('woff2'), url('../fonts/thesa58-webfont.woff') format('woff'), url('../fonts/thesa58-webfont.ttf') format('truetype'), url('../fonts/thesa58-webfont.svg#thesans_4-semilightitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_4-semilightplain';
  src: url('../fonts/thesa59-webfont.eot');
  src: url('../fonts/thesa59-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesa59-webfont.woff2') format('woff2'), url('../fonts/thesa59-webfont.woff') format('woff'), url('../fonts/thesa59-webfont.ttf') format('truetype'), url('../fonts/thesa59-webfont.svg#thesans_4-semilightplain') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ------------------------------------
        Basic Styles
 ------------------------------------- */
.container {
  max-width: 1200px;
  width: 100%;
}
body {
  font-family: 'thesans_5plain';
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'thesans_5plain';
}
h1 {
  font-size: 60px;
  color: #0d4894;
}
h2 {
  font-size: 55px;
  color: #0d4894;
}
h4 {
  font-size: 36px;
  color: #0d4894;
}
p {
  color: #636362;
  font-size: 16px;
  line-height: 24px;
  font-family: 'thesans_5plain';
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
a {
  color: #8d8d8d;
}
a:focus,
a:active,
a:link {
  outline: none;
  text-decoration: none;
}
::-webkit-input-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  font-family: 'thesans_5plain';
}
::-moz-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  font-family: 'thesans_5plain';
}
::-o-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  font-family: 'thesans_5plain';
}
:-ms-input-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  font-family: 'thesans_5plain';
}
input:-moz-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  font-family: 'thesans_5plain';
}
/* ------------------------------------
        Header Styles
 ------------------------------------- */
header {
  position: relative;
  min-height: 201px;
  z-index: 10;
}
.logo {
  background: url(../images/bg-logo.jpg) no-repeat;
  width: 340px;
  height: 201px;
  position: absolute;
  right: 0;
  top: 0;
  float: right;
}
.logo img {
  position: absolute;
  right: 0;
  top: 0;
}
.top-bar li > a {
  text-transform: uppercase;
  padding: 14px 24px;
}
.top-bar .nav li:first-child a {
  padding-left: 0;
}
.top-bar .nav > li > a:focus,
.top-bar .nav > li > a:hover {
  background-color: transparent;
}
.header-line {
  margin-top: 60px;
}
.header-line .main-bar {
  margin-top: 5px;
}
.header-line .main-bar .navbar-nav > li {
  position: relative;
}
.header-line .main-bar .navbar-nav > li > a {
  font-size: 21px;
  text-transform: uppercase;
  color: #0d4894;
  display: inline-block;
  padding: 13px 20px;
  font-weight: bold;
  z-index: 10;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.header-line .main-bar .navbar-nav > li:hover > a {
  background: #0d4894;
  color: #ffffff;
}
.header-line .additional-info {
  float: left;
}
.header-line .additional-info i {
  padding-right: 10px;
}
.header-line .additional-info i,
.header-line .additional-info span {
  color: #0d4894;
}
.header-line .additional-info span {
  font-size: 28px;
  display: inline-block;
  padding: 0 20px;
  font-family: 'thesans_9e-blackexpertregular';
}
.header-line .additional-info .btn {
  width: auto;
  max-width: 100%;
  vertical-align: bottom;
  display: inline-block;
}
.header-line .navbar-brand {
  display: none;
}
.header-line .main-bar {
  float: left;
  border: 0;
}
.header-line .main-bar .dropdown-menu {
  border: 0;
  box-shadow: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.header-line .main-bar .dropdown-menu li a {
  font-weight: bold;
}
.header-line .main-bar .navbar-collapse {
  padding: 0!important;
}
.header-line .main-bar .dropdown-menu > li > a:focus,
.header-line .main-bar .dropdown-menu > li > a:hover {
  background-color: transparent;
}
.header-line .main-bar .navbar-nav li:first-child a {
  padding-left: 12px;
}
/* ------------------------------------
        Header Styles
 ------------------------------------- */
.header-line {
  margin-top: 60px;
}
.header-line .additional-info {
  float: left;
}
.header-line .additional-info i {
  padding-right: 10px;
}
.header-line .additional-info i,
.header-line .additional-info span {
  color: #0d4894;
}
.header-line .additional-info span {
  font-size: 28px;
  padding-top: 10px;
  display: inline-block;
}
.header-line .additional-info .btn {
  width: auto;
  max-width: 100%;
  display: inline-block;
}
header ::-webkit-input-placeholder {
  font-size: 14px;
  color: #8d8d8d;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
header ::-moz-placeholder {
  font-size: 14px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  color: #8d8d8d;
}
header ::-o-placeholder {
  font-size: 14px;
  color: #8d8d8d;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
header :-ms-input-placeholder {
  font-size: 14px;
  color: #8d8d8d;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
header input:-moz-placeholder {
  font-size: 14px;
  color: #8d8d8d;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
/* ------------------------------------
        Content Styles
 ------------------------------------- */
.top-box {
  position: relative;
  height: 100%;
  max-height: 496px;
  overflow: hidden;
}
.top-box h4 {
  position: absolute;
  right: 14px;
  font-family: 'thesans_4-semilightitalic';
  max-width: 27%;
  bottom: 90px;
  color: #ffffff;
  display: block;
  width: 100%;
  font-size: 45px;
}
.top-box .btn {
  position: absolute;
  left: 50%;
  max-width: 302px;
  margin-left: -150px;
  bottom: 20px;
  width: 100%;
  font-family: 'thesans_6-semiboldplain';
  text-transform: none;
  font-size: 21px;
}
.top-box img {
  width: 100%;
  height: auto;
}
.service-part .item:nth-child(2) {
  background-color: #f4f4f4;
}
.service-part .item:nth-child(1) {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0);
  /* IE6-9 */
}
.collapse-row > div {
  padding: 0;
  margin: 0;
}
.collapse-row .row-fluid :nth-child(3) .btn {
  background: #f8f8f8;
  max-width: 150px;
  margin-left: -75px;
  color: #0d4893;
}
.content {
  padding: 90px 0 0 0;
}
.content .home-content h1 {
  padding: 50px 0;
  font-family: 'thesans_4-semilightitalic';
  font-weight: bold;
}
.content .home-content img {
  margin-left: 80px;
}
.content .home-content p {
  color: #0d4894;
}
.content .home-content p a {
  color: #0d4894;
  text-decoration: underline;
}
.content .home-content p a:hover {
  text-decoration: none;
}
.align-right {
  float: right;
  margin: 0 0 10px 10px;
}
.list-icons {
  padding: 20px 0 80px 0;
}
.list-icons a {
  display: block;
  position: relative;
}
.list-icons:hover {
  text-decoration: none;
}
.list-icons img {
  display: inline-block;
  top: -58px;
  left: -100px;
  position: absolute;
}
.list-icons span {
  color: #0d4894;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 21px;
  display: block;
  max-width: 260px;
  left: 30px;
  top: 0;
  position: relative;
}
.list-icons .col-lg-3:nth-child(2) span {
  margin-right: 40px;
}
.special-banner {
  border: 1px solid #d0d0d0;
  position: relative;
  background: url(../images/bg-shadow.png) repeat-x #ffffff;
}
.special-banner:before {
  background: url(../uploads/pelikan.png) no-repeat;
  background-size: contain;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.special-banner img {
  float: left;
}
.special-banner .special-banner-text {
  max-width: 560px;
  width: 100%;
  padding: 50px 0 20px 0;
}
.special-banner p,
.special-banner .btn-link {
  margin-bottom: 30px;
}
.special-banner .btn-link {
  display: inline-block;
  width: auto;
}
.special-banner .special-icon {
  background: url(../images/two-images.png) no-repeat;
  width: 500px;
  height: 325px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* ------------------------------------
        Footer Styles
 ------------------------------------- */
/* ------------------------------------
        Placeholder Styles
 ------------------------------------- */
footer ::-webkit-input-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: uppercase;
  color: #a5b2cf;
}
footer ::-moz-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: uppercase;
  color: #a5b2cf;
}
footer ::-o-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: uppercase;
  color: #a5b2cf;
}
footer :-ms-input-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: uppercase;
  color: #a5b2cf;
}
footer input:-moz-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: uppercase;
  color: #a5b2cf;
}
footer {
  background: #0d4894;
  padding: 42px 0;
  position: relative;
}
footer h6 {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 30px;
  font-family: 'thesans_7-boldcaps';
}
footer .copyright {
  text-transform: uppercase;
  position: absolute;
  left: -80px;
  bottom: -20px;
}
footer .copyright p {
  color: #a5b2cf;
}
footer .copyright p a {
  text-decoration: underline;
  color: #a5b2cf;
}
footer .copyright p a:hover {
  text-decoration: none;
}
footer .footer-menu li {
  padding-bottom: 10px;
}
footer .footer-menu a {
  color: #a5b2cf;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  clear: both;
  float: left;
  font-family: 'thesans_5plain';
}
footer .footer-menu a:hover {
  text-decoration: underline;
}
footer .footer-logo {
  padding-bottom: 45px;
  display: block;
}
footer .social {
  float: right;
  margin-bottom: 50px;
}
footer .social a {
  display: inline-block;
  margin: 0 0 10px 5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
}
footer .social a img {
  width: 27px;
}
footer .social a:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
/* ------------------------------------
        Forms Styles
 ------------------------------------- */
input,
button {
  border: 0;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.newsletter input[type="text"] {
  background: #1e58a0;
  padding: 6px 9px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: 'thesans_5plain';
}
.newsletter input {
  text-transform: uppercase;
  color: #a5b2cf;
}
.newsletter button {
  background: transparent;
  text-transform: uppercase;
  color: #a5b2cf;
  width: auto;
  font-family: 'thesans_5plain';
}
.top-search {
  max-width: 220px;
  width: 100%;
  margin-top: 10px;
  position: relative;
  float: right;
}
.top-search input[type=text] {
  background: #f3f6f9;
  padding-right: 40px;
  padding-left: 10px;
  margin-bottom: 0;
  height: 30px;
  width: 100%;
  font-family: 'thesans_5plain';
}
.top-search button {
  position: absolute;
  right: 4px;
  top: 5px;
  background: transparent;
  border: 0;
}
.top-search .search-icon {
  background: url(../images/search-icon.png) no-repeat;
  display: block;
  width: 19px;
  height: 19px;
}
/* ------------------------------------
        Header Login Form Styles
 ------------------------------------- */
.login-form {
  max-width: 200px;
  width: 100%;
  position: relative;
  float: right;
  padding: 0 0 0 34px;
}
.login-form span {
  text-transform: uppercase;
  color: #8d8d8d;
  cursor: pointer;
  padding: 15px 0 15px 10px;
  display: inline-block;
}
.login-form .hide-login {
  background: #0d4894;
  padding: 22px;
  position: absolute;
  width: 426px;
  right: 0;
  top: 50px;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.login-form .hide-login h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  padding-bottom: 9px;
  margin-bottom: 20px;
}
.login-form .hide-login h3:after {
  height: 1px;
  background: #ffffff;
  width: 160px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -80px;
  content: " ";
}
.login-form .hide-login h4 {
  font-size: 16px;
  color: #ffffff;
  text-transform: capitalize;
  padding-bottom: 8px;
}
.login-form .hide-login input {
  width: 100%;
  margin-bottom: 10px;
  height: 26px;
  padding: 0 9px;
  font-size: 15px;
  color: #a3a3a3;
}
.login-form .hide-login button {
  background: #1aa1e1;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 126px;
  width: 100%;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  display: block;
  font-size: 12px;
}
.login-form .hide-login ::-webkit-input-placeholder {
  font-size: 15px;
  color: #a3a3a3;
}
.login-form .hide-login ::-moz-placeholder {
  font-size: 15px;
  color: #a3a3a3;
}
.login-form .hide-login ::-o-placeholder {
  font-size: 15px;
  color: #a3a3a3;
}
.login-form .hide-login :-ms-input-placeholder {
  font-size: 15px;
  color: #a3a3a3;
}
.login-form .hide-login input:-moz-placeholder {
  font-size: 15px;
  color: #a3a3a3;
}
.login-form .hide-login .register-box button {
  margin: 0 0 45px 0;
}
.login-form .hide-login .register-box a {
  color: #ffffff;
  text-decoration: underline;
}
.login-form .hide-login .register-box a:hover {
  text-decoration: none;
}
.login-form .lock-icon {
  background: url(../images/lock.png) no-repeat;
  width: 14px;
  height: 18px;
  display: block;
  position: absolute;
  left: 15px;
  top: 15px;
}
.login-form:hover {
  padding: 0 34px;
  background: #0d4894;
}
.login-form:hover .lock-icon {
  background: url(../images/lock-white.png) no-repeat;
}
.login-form:hover span {
  color: #ffffff;
}
.login-form:hover .hide-login {
  visibility: visible;
  opacity: 1;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ------------------------------------
        Map Styles
 ------------------------------------- */
.map {
  background: url(../uploads/map.jpg) no-repeat;
  width: 100%;
  padding: 120px 0;
  position: relative;
}
.bg-map {
  background: rgba(9, 78, 162, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.description {
  background: #ffffff;
  max-width: 246px;
  position: relative;
  z-index: 10;
  padding-bottom: 20px;
}
.description .btn-box {
  margin: 20px 20px 0 20px;
}
.description .btn-box .btn {
  font-size: 18px;
  width: 100%;
  font-weight: normal;
}
.description h5 {
  background: #0d4894;
  padding: 10px 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
}
.description p {
  padding: 15px 15px 0 15px;
  margin-bottom: 0;
}
.description p a {
  color: #0d4894;
}
.marker {
  background: url(../images/marker.png) no-repeat;
  width: 161px;
  height: 130px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -80px;
  margin-top: -65px;
}
/* ------------------------------------
        Subscribe Styles
 ------------------------------------- */
.subscribe-section {
  background: #1aa0e0;
  padding: 70px 0;
}
.subscribe-section .subscribe-section-description p {
  padding-right: 80px;
  color: #ffffff;
  margin-bottom: 30px;
}
.subscribe-section h4 {
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
.subscribe-section h4:after {
  content: "";
  width: 140px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.subscribe-section form {
  max-width: 380px;
  margin-left: 60px;
}
.subscribe-section form .btn {
  text-transform: uppercase;
  width: auto;
  margin: 0 auto;
}
.subscribe-section form .label {
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  white-space: normal;
  text-align: left;
  margin-left: 36px;
}
.subscribe-section form .label a {
  color: #0d4894;
  text-decoration: underline;
}
.subscribe-section form .label a:hover {
  text-decoration: none;
}
.subscribe-section form input[type=checkbox] {
  opacity: 0;
}
.subscribe-section form input[type="text"],
.subscribe-section form input[type="email"] {
  background: #ffffff;
  height: 38px;
  width: 100%;
  padding: 6px 10px;
  box-sizing: border-box;
  color: #0d4894;
  margin-bottom: 15px;
}
.subscribe-section form input.half-size {
  width: 49%;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
}
.subscribe-section form input.half-size:nth-child(1) {
  margin-left: 0;
}
.subscribe-section form input.half-size:nth-child(2) {
  margin-right: 0;
}
/* ------------------------------------
        BUTTONS Styles
 ------------------------------------- */
.btn {
  background: #0d4893;
  padding: 8px 15px;
  color: #ffffff;
  width: auto;
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  font-family: 'thesans_5plain';
  white-space: normal;
  font-size: 18px;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.btn:hover,
.btn:focus,
.btn a:active {
  background: #9bb5d3;
  color: #ffffff;
  box-shadow: none;
}
.btn.active,
.btn:active {
  box-shadow: none;
}
.btn-link {
  background: #80bd23;
  color: #ffffff;
  padding: 6px 16px;
  font-family: 'thesans_5plain';
  white-space: normal;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.btn-link:hover {
  background: #0d4894;
  color: #ffffff;
  text-decoration: none;
}
/* ------------------------------------
        Checkbox Styles
 ------------------------------------- */
.squaredTwo {
  background: #ffffff;
  position: absolute;
  width: 26px;
  height: 26px;
}
.squaredTwo label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;
}
.squaredTwo label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 10px;
  background: transparent;
  top: 2px;
  left: 4px;
  border: 3px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.squaredTwo label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.squaredTwo input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.squaredTwo input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
/* ------------------------------------
        Contact Styles
 ------------------------------------- */
.title-page {
  padding-bottom: 30px;
  margin-bottom: 40px;
  color: #0d4894;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  position: relative;
}
.title-page:after {
  width: 160px;
  height: 1px;
  background: #0d4894;
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -80px;
}
.contact-form {
  max-width: 380px;
  margin: 40px auto;
}
.contact-form textarea {
  margin-bottom: 40px;
  background: #f7f8fd;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  height: 90px;
  padding: 6px 10px;
  margin-top: 15px;
  resize: none;
  color: #0d4894;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
  background: #f7f8fd;
  height: 38px;
  width: 100%;
  padding: 6px 10px;
  box-sizing: border-box;
  color: #0d4894;
  margin-bottom: 15px;
}
.contact-form input[type="email"] {
  background: url(../images/letter.jpg) no-repeat right top #f7f8fd;
  padding-right: 42px;
}
.contact-form .btn {
  text-transform: uppercase;
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  min-width: 160px;
}
.bg-top-info {
  background: rgba(8, 70, 144, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.top-info {
  position: relative;
  width: 100%;
  padding: 125px 0 85px 0;
  margin-bottom: 70px;
  height: 600px;
}
.top-info .call-box {
  background: #0d4893;
  padding: 35px;
  max-width: 492px;
}
.top-info .call-box h5 {
  text-transform: uppercase;
  padding-bottom: 16px;
  font-size: 30px;
  font-family: 'thesans_5plain';
}
.top-info .call-box h5,
.top-info .call-box h1,
.top-info .call-box p {
  color: #ffffff;
}
.top-info .call-box h1 {
  padding: 0 0 40px 0;
  font-family: 'thesans_9e-blackexpertregular';
}
.top-info .call-box p {
  font-size: 18px;
  margin-bottom: 20px;
}
.top-info .call-box form ::-webkit-input-placeholder {
  font-size: 18px;
}
.top-info .call-box form ::-moz-placeholder {
  font-size: 18px;
}
.top-info .call-box form ::-o-placeholder {
  font-size: 18px;
}
.top-info .call-box form :-ms-input-placeholder {
  font-size: 18px;
}
.top-info .call-box form input:-moz-placeholder {
  font-size: 18px;
}
.top-info .call-box form input[type="email"] {
  background: #ffffff;
  width: 100%;
  height: 38px;
  line-height: 38px;
  padding: 0 12px;
  margin-bottom: 15px;
}
.top-info .call-box form .btn {
  background: #1295dc;
  color: #ffffff;
  text-transform: uppercase;
  width: auto;
  padding: 8px 40px;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.top-info .call-box form .btn:hover {
  background: #9bb5d3;
}
/* ------------------------------------
        Default Styles
 ------------------------------------- */
::-webkit-input-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: none;
  color: #0d4894;
}
::-moz-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: none;
  color: #0d4894;
}
::-o-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: none;
  color: #0d4894;
}
:-ms-input-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: none;
  color: #0d4894;
}
input:-moz-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: none;
  color: #0d4894;
}
/* ------------------------------------
        Search Styles
 ------------------------------------- */
.search-form {
  background: #1aa1e1;
  padding: 30px 0;
  position: relative;
}
.search-form form {
  max-width: 602px;
  width: 100%;
  position: relative;
  display: inline-block;
}
.search-form h4 {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 38px;
  text-align: center;
  float: left;
  padding-top: 5px;
}
.search-form h4 img {
  margin-right: 20px;
}
.search-form input[type="text"] {
  background: #ffffff;
  height: 58px;
  padding: 9px 14px;
  width: 100%;
  box-sizing: border-box;
  color: #a3a3a3;
  font-size: 16px;
  float: none;
  max-width: 436px;
}
.search-form .btn {
  text-transform: uppercase;
  width: auto;
  height: 58px;
  font-size: 24px;
  vertical-align: top;
  font-weight: normal;
}
.search-form ::-webkit-input-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: none;
  color: #a3a3a3;
}
.search-form ::-moz-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: none;
  color: #a3a3a3;
}
.search-form ::-o-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: none;
  color: #a3a3a3;
}
.search-form :-ms-input-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: none;
  color: #a3a3a3;
}
.search-form input:-moz-placeholder {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: none;
  color: #a3a3a3;
}
.search-results,
.blog-results {
  padding: 100px 0 0 0;
}
.search-results .results-one,
.blog-results .results-one {
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
}
.search-results .results-one img,
.blog-results .results-one img {
  border: 1px solid #e8e8e8;
  width: 100%;
  box-sizing: border-box;
}
.search-results .results-one h5 a,
.blog-results .results-one h5 a {
  font-size: 24px;
  color: #0d4894;
  text-transform: uppercase;
  margin-bottom: 11px;
}
.search-results .results-one h5 a:hover,
.blog-results .results-one h5 a:hover {
  text-decoration: none;
}
.search-results .results-one p,
.blog-results .results-one p {
  color: #636362;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 5px;
}
.search-results .results-one .category,
.blog-results .results-one .category {
  color: #0d4894;
  font-size: 14px;
  text-transform: uppercase;
}
.search-results .results-one .line,
.blog-results .results-one .line {
  width: 147px;
  background: #0d4894;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -72px;
  display: block;
}
.search-results {
  padding-bottom: 80px;
}
/* ------------------------------------
        Sidebar Styles
 ------------------------------------- */
.sidebar-right {
  background: #f7f9fd;
  padding: 25px 24px;
}
.sidebar-right h5 {
  text-transform: uppercase;
  color: #0d4894;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}
.sidebar-right .category-list ul {
  margin-bottom: 25px;
}
.sidebar-right .category-list ul li {
  border-bottom: 1px solid #dfe7f2;
  padding: 8px 0;
}
.sidebar-right .category-list ul li a {
  color: #606162;
  font-size: 16px;
  line-height: 36px;
}
.sidebar-right .category-list ul li a:hover {
  text-decoration: none;
}
.sidebar-right .category-list ul li .count {
  background: #0d4894;
  color: #ffffff;
  padding: 2px 9px;
  min-width: 36px;
  text-align: center;
  display: inline-block;
  float: right;
  line-height: 32px;
  font-family: 'thesans_3e-lightexpertregular';
}
.sidebar-right .one-post {
  margin-bottom: 20px;
}
.sidebar-right .one-post img {
  float: left;
  margin: 0 20px 0 0;
}
.sidebar-right .one-post a {
  color: #0d4894;
  font-size: 15px;
  text-transform: uppercase;
}
.tags li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #ffffff;
}
.tags li a {
  padding: 10px 14px;
  color: #0d4894;
  text-transform: uppercase;
  display: block;
}
.tags li a:hover {
  text-decoration: none;
}
.recent-post {
  margin-bottom: 27px;
}
.blog-results .results-one p {
  margin-bottom: 10px;
}
.blog-results .results-one .line {
  margin-left: 0;
  left: 15px;
}
.blog-results .results-one .btn {
  font-family: 'thesans_3-lightplain';
  font-size: 18px;
}
/* ------------------------------------
        Thank Page Styles
 ------------------------------------- */
.thank-box {
  padding-bottom: 100px;
}
.thank-box p {
  color: #636362;
}
.thank-box .title-page {
  border-bottom: 0;
  position: relative;
}
.thank-box .title-page:after {
  width: 160px;
  height: 1px;
  background: #0d4894;
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -80px;
}
.list-downloads a {
  height: 38px;
  background: url(../images/download.jpg) no-repeat right top #ffffff;
  padding: 0 44px 0 14px;
  line-height: 38px;
  position: relative;
  display: block;
  margin-bottom: 4px;
  color: #636362;
  font-size: 16px;
}
.list-downloads a:hover {
  text-decoration: none;
}
/* ------------------------------------
        Service Page Styles
 ------------------------------------- */
.top-banner {
  position: relative;
}
.top-banner .social {
  position: relative;
  padding: 20px 0 400px 0;
  float: right;
}
.top-banner .social a {
  margin-left: 5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.top-banner .social a img {
  width: 40px;
}
.top-banner .social a:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
.service-section .special-banner-text {
  max-width: 344px;
  position: relative;
  margin: 0 0 0 460px;
}
.service-section {
  padding: 40px 0 60px 0;
}
.service-section .one-service {
  padding-bottom: 65px;
}
.service-section .title-page {
  border-bottom: 0;
  position: relative;
}
.service-section .title-page:after {
  width: 160px;
  height: 1px;
  background: #0d4894;
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -80px;
}
.service-section .btn {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 85px;
}
.service-section .btn-link {
  background: #e3147d;
  text-transform: none;
  color: #ffffff;
  text-shadow: 0 0 0 3px #ccc;
  text-shadow: 0 0 1px #888888;
  -webkit-box-shadow: 1px 1px 2px #888888;
  -moz-box-shadow: 1px 1px 2px #888888;
  box-shadow: 1px 1px 2px #888888;
}
.service-section .special-icon {
  background: url(../images/buy-icon.png) no-repeat;
  width: 336px;
  height: 331px;
}
.quality-icon {
  width: 709px;
  height: 599px;
  position: absolute;
  left: 0;
  top: 0;
}
.list-category {
  border-bottom: 1px solid #e6ecf4;
}
.list-category .list-icons {
  padding-bottom: 16px;
  padding-top: 30px;
}
.print-graphic {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  z-index: 100;
  background: #ffffff;
}
.print-graphic h4 {
  text-transform: uppercase;
}
.print-graphic p {
  color: #636362;
  margin-bottom: 36px;
  line-height: 28px;
}
.print-graphic img {
  float: right;
}
.print-graphic .btn {
  text-transform: uppercase;
  width: auto;
  display: inline-block;
}
/* ------------------------------------
        Btands Styles
 ------------------------------------- */
.brands {
  background: #1aa1e1;
  padding: 80px 0;
  position: relative;
  z-index: 10;
}
.brands p {
  color: #ffffff;
}
.brands .btn {
  margin-bottom: 15px;
  height: 60px;
  line-height: 60px;
  padding: 0;
  font-size: 19px;
  width: 100%;
  font-family: 'thesans_7-boldplain';
}
.brands .simpleselect {
  background: #ffffff;
}
.brands .simpleselect .placeholder {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  color: #0d4894;
  font-size: 18px;
  text-transform: none;
}
.brands .simpleselect .placeholder:after {
  background: url(../images/brands.png) no-repeat;
  right: 15px;
  width: 13px;
}
.brands .list-brads {
  padding-top: 60px;
}
.brands .list-brads .btn {
  text-transform: capitalize;
}
.brands .list-brads .simpleselect .options .option {
  text-transform: none;
}
.brands .list-brads .simpleselect .options .active {
  padding: 11px 10px;
}
.brands .simpleselect .options {
  width: 100%;
}
.brands h4 {
  color: #ffffff;
  display: inline-block;
  line-height: 58px;
  text-transform: uppercase;
}
.brands h4:after {
  background: #ffffff;
}
.brands h4 img {
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.brands .line-border {
  width: 160px;
  height: 1px;
  background: #ffffff;
  position: relative;
  left: 50%;
  bottom: 0;
  display: block;
  margin-left: -80px;
  margin-bottom: 40px;
  margin-top: 30px;
}
/* ------------------------------------
        Certified Styles
 ------------------------------------- */
.certified {
  position: relative;
}
.certified:before {
  background: url(../uploads/quality.png) no-repeat left top #f7f8fd;
  padding-bottom: 50px;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}
.certified h4 {
  text-align: center;
  display: block;
}
.certified p {
  margin-bottom: 30px;
  color: #636362;
}
.certified .btn {
  width: auto;
  margin-top: 30px;
  display: inline-block;
  text-transform: uppercase;
}
.certified .certified-text {
  margin-left: 320px;
  max-width: 580px;
  padding: 80px 0;
}
.certified .quality-big {
  background: url(../uploads/big-icon.png) no-repeat;
  width: 285px;
  height: 357px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -180px;
}
/* ------------------------------------
        Top Banner Styles
 ------------------------------------- */
.top-banner {
  height: 600px;
  background-position: center top!important;
}
.top-banner .social {
  padding: 30px 0 40px 0;
}
.text-top {
  max-width: 700px;
  background: #0d4894;
  padding: 38px;
  margin: 0 130px 70px 0;
  float: right;
  clear: both;
}
.text-top * {
  color: #ffffff;
}
.text-top .btn {
  background: #ffffff;
  color: #0d4894;
}
.text-top h4 {
  padding-bottom: 40px;
  text-transform: uppercase;
  font-family: 'thesans_6-semiboldplain';
}
.text-top p {
  margin-bottom: 33px;
  font-size: 16px;
}
.top-special-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 665px;
}
.top-special-image img {
  width: 100%;
}
/* ------------------------------------
        Smart  Styles
 ------------------------------------- */
.smart {
  background: #ffffff;
  padding: 70px 0;
  position: relative;
  z-index: 101;
}
.smart .smart-part {
  max-width: 1156px;
  margin: 0 auto;
}
.smart .smart-part h4 {
  margin-bottom: 0;
}
.smart .smart-part img {
  width: 100%;
}
.smart .smart-part p {
  margin: 0 0 40px 0;
}
.smart .smart-part p:first-child {
  margin-top: 40px;
}
.disposal {
  position: relative;
}
.disposal:before {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/image-green.png) no-repeat left top #f6f7fc;
  display: block;
}
.disposal .special-banner {
  border: 0;
  background: transparent;
  margin-bottom: 0;
}
.disposal .special-banner-text {
  max-width: 404px;
  position: relative;
  margin: 0 auto;
  float: none;
  padding: 80px 0;
}
.disposal .special-banner-text .special-icon {
  right: -450px;
}
.disposal .special-banner-text p {
  color: #636362;
}
/* ------------------------------------
        Order  Styles
 ------------------------------------- */
.order {
  background: #ffffff;
  padding: 80px 0;
}
.order h4:after {
  margin-left: 0;
  left: 0;
}
.order p {
  color: #636362;
  line-height: 28px;
}
.order .btn {
  margin-top: 30px;
}
/* ------------------------------------
        News  Styles
 ------------------------------------- */
.news {
  background: #f3f6fa;
  padding: 80px 0;
}
.news h4:after {
  margin-left: 0;
  left: 0;
}
.news p {
  margin-bottom: 40px;
  line-height: 28px;
}
.news ul li {
  color: #636362;
  font-size: 16px;
  padding-bottom: 6px;
  padding-left: 10px;
}
.news ul li:before {
  content: '•';
  font-size: 14px;
  position: relative;
  left: -10px;
}
/* ------------------------------------
        User  Styles
 ------------------------------------- */
.user {
  padding: 60px 0;
}
.user p {
  color: #636362;
}
.order-list {
  margin-top: -50px;
}
.order-list .one-box {
  display: inline-block;
  margin: 0 0 30px 0;
}
.order-list .one-box span {
  text-transform: uppercase;
  color: #0d4894;
  font-size: 16px;
  display: block;
  clear: both;
  text-align: center;
}
.order-list .one-box img {
  margin: 0 auto 20px;
  display: block;
}
.order-list .one-box:last-child {
  margin-right: 0;
}
.category-box {
  margin-top: 1px;
}
.list-category-resellers {
  padding: 80px 0;
}
.list-category-resellers .one-item {
  padding-top: 15px;
  padding-bottom: 40px;
}
.account-log {
  float: right;
  padding: 36px 0 84px 0;
  color: #7d8fb4;
  font-size: 18px;
}
.account-log a {
  color: #ffffff;
  text-decoration: underline;
}
.account-log a:hover {
  text-decoration: none;
}
.top-description {
  clear: both;
  float: right;
  max-width: 680px;
  margin: 0 180px 100px 0;
}
.top-description * {
  color: #ffffff;
}
.top-description .btn {
  background: #ffffff;
  color: #0d4894;
}
.top-description h1 {
  margin-bottom: 44px;
  font-weight: bold;
  font-family: 'thesans_4-semilightitalic';
}
.top-description h3 {
  padding-bottom: 34px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'thesans_7-boldcaps';
}
.top-description p {
  margin-bottom: 30px;
}
.become-section {
  padding: 80px 0;
}
.become-section p {
  color: #636362;
}
.become-section h4 {
  margin-bottom: 70px;
}
.become-section .contact-form {
  max-width: 100%;
  margin: 0 0 0 30px;
}
.become-section .contact-form input,
.become-section .contact-form .simpleselect {
  margin-bottom: 15px;
}
.become-section .contact-form textarea {
  margin-top: 0;
}
.become-section .contact-form .btn {
  max-width: 150px;
  width: 100%;
}
button.btn,
input[type="submit"] {
  font-weight: normal;
}
/* ------------------------------------
        Product Inkjet
 ------------------------------------- */
.search-form-product form {
  max-width: 502px;
  float: right;
}
.search-form-product form input[type="text"] {
  height: 60px;
  margin-right: 0;
  margin-left: 4px;
}
.search-form-product form input.btn {
  font-size: 0;
  background: url(../images/search-icon.jpg) no-repeat;
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 0;
  margin-left: -4px;
}
.product-list {
  padding: 80px 0 50px 0;
}
.product-list h4 {
  text-transform: uppercase;
}
.one-product {
  margin-bottom: 45px;
}
.one-product img {
  margin-bottom: 34px;
  width: 100%;
}
.one-product h5 {
  text-transform: uppercase;
  color: #0d4894;
  font-size: 21px;
  padding-bottom: 20px;
  word-wrap: break-word;
}
.one-product p {
  color: #636362;
  margin-bottom: 20px;
}
.one-product .btn {
  text-transform: uppercase;
  font-size: 18px;
}
.title-product-list {
  margin-bottom: 50px;
}
.filter-box {
  color: #0d4894;
  display: block;
  float: right;
}
.filter-box span {
  display: inline-block;
  vertical-align: sub;
  font-size: 18px;
}
.filter-box .results-count {
  margin-right: 10px;
}
.filter-box .label-filter {
  margin-left: 10px;
}
.filter-box .hidden_select_container {
  display: none;
}
.filter-box .simpleselect {
  width: 130px;
  display: inline-block;
  margin-left: 18px;
}
.filter-box .simpleselect .options {
  width: 100%;
}
.filter-box .simpleselect .placeholder {
  height: 38px;
  line-height: 38px;
  color: #0d4894;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f6f7fc;
}
.filter-box .simpleselect .placeholder:after {
  background: rgba(0, 0, 0, 0) url("../images/triangle-blue.png") no-repeat scroll 0 0;
  right: 11px;
}
.finder {
  background: #1aa0e0;
  padding: 60px 0;
}
.finder .item {
  padding-top: 20px;
}
.finder h6 {
  color: #0d4894;
  font-size: 18px;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  top: 50%;
  position: relative;
}
.finder .search-form-product {
  padding: 0;
}
.finder .one-select-box .simpleselect.active .options {
  height: auto!important;
  overflow-y: hidden!important;
}
.finder .one-select-box .simpleselect {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 36px;
}
.finder .one-select-box .simpleselect .placeholder {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #0d4894;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
}
.finder .one-select-box .simpleselect .placeholder:after {
  background: rgba(0, 0, 0, 0) url("../images/triangle-light.png") no-repeat scroll 0 0;
  right: 11px;
}
.finder .one-select-box:last-child .simpleselect .placeholder {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #ffffff;
  color: #0d4894;
}
.list-brads p {
  color: #ffffff;
  margin-bottom: 28px;
}
.list-brads .btn {
  width: 100%;
}
.store-form h4 {
  display: inline-block;
  float: left;
  text-align: left;
}
.store-form form {
  float: right;
}
.store-form form .btn {
  width: 155px;
}
/* ------------------------------------
       Product Slider Styles
 ------------------------------------- */
.product-slider {
  position: relative;
}
.product-slider div img {
  visibility: hidden;
  opacity: 0;
  width: 100%;
}
.slides .social {
  float: right;
  margin: 15px 0 30px;
}
.slides i {
  background: #c0c0c0;
  color: #e4e4e4;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 22px;
  text-align: center;
  vertical-align: sub;
  display: inline-block;
  padding-top: 4px;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.slides i:hover {
  background: #0d4894;
}
#category-slider {
  background: url("../images/bg-slider.jpg") repeat-x scroll 0 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
#category-slider .slides {
  min-height: 600px;
}
#category-slider .slick-slider {
  margin-bottom: 0;
}
.slider-caption {
  background: #ffffff;
  padding: 33px 22px;
  max-width: 800px;
  margin-right: 60px;
  float: right;
  clear: both;
  margin-bottom: 80px;
}
.slider-caption h3 {
  font-size: 30px;
  margin-bottom: 55px;
  color: #0d4894;
  text-transform: uppercase;
}
.slider-caption p {
  margin-bottom: 34px;
  color: #0d4894;
}
.slick-dots {
  bottom: 20px;
}
.slick-dots li {
  margin: 0;
}
.slick-dots li button:before {
  font-size: 45px;
}
.slick-dots li button:hover:before {
  color: #0d4894;
}
.slick-dots li.slick-active button:before {
  color: #0d4894;
}
.description-map {
  max-width: 460px;
}
.description-map .btn {
  width: 100%;
}
.description-map .table-box {
  padding: 20px 20px 0 20px;
}
.description-map .table-box .table-info,
.description-map .table-box table {
  float: left;
  width: 50%;
}
.description-map .table-box p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.description-map .table-box th,
.description-map .table-box h6 {
  color: #0d4894;
  padding-bottom: 6px;
  font-size: 14px;
  font-weight: normal;
}
.description-map .table-box td {
  padding-bottom: 6px;
  font-size: 14px;
  color: #636362;
}
/* ------------------------------------
        Online Store Styles
 ------------------------------------- */
.online-store {
  padding: 60px 0;
}
.online-store .one-step {
  margin-bottom: 60px;
}
.online-store .one-step .list-brads {
  margin-top: 40px;
}
.online-store .one-step .btn.active {
  background: #9bb5d3;
}
.online-store .one-step .line-select {
  max-width: 440px;
  margin: -35px auto 0;
}
.online-store .one-step .line-select .simpleselect {
  max-width: 180px;
  margin-left: 15px;
  float: left;
}
.online-store .one-step .simpleselect .placeholder {
  font-weight: bold;
  height: 35px;
  line-height: 28px;
  background: #f3f6f9;
  color: #0d4894;
  font-size: 18px;
  text-transform: capitalize;
}
.online-store .one-step .simpleselect .placeholder:after {
  background: rgba(0, 0, 0, 0) url("../images/triangle-blue.png") no-repeat scroll 0 0;
  right: 11px;
}
.online-store .one-step .simpleselect .options {
  width: 100%;
  text-transform: capitalize;
}
.online-store .one-step .simpleselect .options .option {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
}
.online-store .one-step .btn {
  margin-bottom: 18px;
  text-transform: none;
}
.online-store .one-step h6 {
  color: #636362;
  font-size: 18px;
  display: inline-block;
}
.online-store .one-step .count-step {
  background: #0d4894;
  color: #ffffff;
  text-align: center;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-left: 3px;
  margin-right: 10px;
  font-size: 18px;
}
.print-graphic-consumer img {
  margin-top: -70px;
}
.print-graphic-consumer .btn {
  margin: 0 auto;
  width: auto;
}
.smart-consumer .smart-part p {
  color: #636362;
}
.smart-consumer .smart-part p:first-child {
  margin-top: 70px;
}
.smart-consumer img {
  margin-top: 70px;
}
.page-print img {
  float: none;
}
.page-print .page-print-text {
  margin-left: 55px;
}
.additional-top-box {
  background: #f7f9fd;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0 60px 0;
}
.additional-top-box .additional-top-text {
  margin-left: 100px!important;
  max-width: 498px;
}
.additional-top-box .additional-top-text h4:after {
  left: 0;
  margin-left: 0;
}
.additional-top-box .additional-top-text p {
  margin-bottom: 28px;
}
.additional-top-box .additional-top-text .social {
  padding: 15px 0 20px 0;
  float: right;
}
.additional-top-box .additional-top-text .social i {
  background: #9bb5d3;
  color: #ffffff;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 22px;
  text-align: center;
  vertical-align: sub;
  display: inline-block;
  padding-top: 4px;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.additional-top-box .additional-top-text .social i:hover {
  background: #0d4894;
}
/* ------------------------------------
        Single Product Details
 ------------------------------------- */
.single-box {
  padding: 60px 0;
  position: relative;
  z-index: 10;
  background: #ffffff;
}
.single-post .awards-box {
  max-width: 140px;
  float: left;
}
.single-post .awards-box ul {
  margin-top: 20px;
}
.single-post .awards-box ul li {
  width: 48%;
  display: inline-block;
  text-align: center;
}
.single-post .awards-box ul li img {
  margin: 0 8px 10px 8px;
}
.single-post h3 {
  margin-bottom: 80px;
  color: #0d4894;
  font-size: 24px;
}
.single-post h5 {
  font-size: 18px;
  color: #0d4894;
  padding-bottom: 26px;
}
.single-post .single-description {
  padding-bottom: 26px;
}
.single-post .single-description p {
  margin: 0;
  color: #4b4b4b;
  font-size: 16px;
}
.single-post .single-description ul {
  padding-bottom: 45px;
}
.single-post .single-description ul li {
  padding-left: 10px;
  color: #4b4b4b;
  font-size: 16px;
}
.single-post .single-description ul li:before {
  content: '•';
  font-size: 14px;
  position: relative;
  left: -10px;
}
.single-post .single-description ul .btn {
  margin-right: 40px;
}
.related-posts {
  padding-top: 40px;
}
.related-posts .related-one-post {
  margin: 0 20px 20px 0;
  float: left;
}
.related-posts .related-one-post img {
  border: 1px solid #d2d2d2;
}
.product-text {
  padding-top: 80px;
}
.slider {
  max-width: 502px;
  float: left;
  margin-right: 26px;
  margin-bottom: 0;
}
.slider .slick-slide {
  margin-bottom: 20px;
  border: 1px solid #d2d2d2;
}
.slider .slick-slide img {
  display: block;
  margin: 0 auto;
}
.slider .slick-dots {
  bottom: 0;
  position: relative;
}
.slider .slick-dots img {
  border: 1px solid #d2d2d2;
}
.slider .slick-dots li {
  width: auto;
  margin-left: 20px;
  height: 100%;
}
.slider .slick-dots li:first-child {
  margin-left: 0;
}
/* ------------------------------------
       Breadcrumbs
 ------------------------------------- */
.breadcrumbs {
  padding-bottom: 40px;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 5px;
}
.breadcrumbs li a {
  color: #a3a3a3;
  font-size: 16px;
  position: relative;
  padding: 0 10px 0 0;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}
.breadcrumbs li a:after {
  content: ">";
  color: #a3a3a3;
  font-size: 16px;
  position: absolute;
  right: -5px;
  top: 0;
  line-height: 18px;
}
.breadcrumbs li:first-child a {
  padding-left: 0;
}
.breadcrumbs li span {
  text-decoration: underline;
  color: #0d4894;
  font-size: 16px;
  padding-left: 5px;
}
.btn-back {
  color: #a3a3a3;
  font-size: 16px;
}
.btn-back a {
  color: #0d4894;
  text-decoration: underline;
}
.btn-back a:hover {
  text-decoration: none;
}
.service-section-home .special-banner {
  position: relative;
}
.service-section-home .special-banner:before {
  background: url(../images/think.png) no-repeat;
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  background-size: auto;
}
.service-section-home .special-banner .special-banner-text {
  padding: 40px 0 40px 0;
  max-width: 520px;
  margin-left: 400px;
}
.service-section-home .special-banner .special-banner-text h2 {
  padding-bottom: 20px;
  font-family: 'thesans_4-semilightitalic';
  font-weight: bold;
  font-size: 46px;
}
.service-section-home .special-banner .special-banner-text h4 {
  font-family: 'thesans_4-semilightitalic';
}
.service-section-home .special-banner .special-banner-text p {
  margin-bottom: 30px;
  padding-right: 80px;
}
.service-section-home .special-banner .btn {
  margin-bottom: 20px;
  display: inline-block;
  background: #80bd23;
  text-transform: uppercase;
}
.service-section-home .special-banner .special-icon {
  background: url(../images/two-images.png) no-repeat;
  width: 450px;
  height: 264px;
  position: absolute;
  right: 0;
  bottom: 20px;
}
.dis-section {
  padding: 0;
  background: #F6F7FC;
}
.dis-section .footer-banner {
  position: relative;
  background: url(../images/bg-footer-banner.png) repeat-x;
}
.dis-section .footer-banner:before {
  background: url(../images/image-green.png) no-repeat;
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  background-size: contain;
}
.dis-section .footer-banner .footer-banner-text {
  padding: 100px 0 20px 0;
  max-width: 440px;
  margin-left: 320px;
}
.dis-section .footer-banner .footer-banner-text h2 {
  padding-bottom: 40px;
  font-size: 36px;
}
.dis-section .footer-banner .footer-banner-text h4 {
  font-family: 'thesans_4-semilightitalic';
}
.dis-section .footer-banner .footer-banner-text p {
  margin-bottom: 30px;
}
.dis-section .footer-banner .btn-link {
  margin-bottom: 40px;
  display: inline-block;
}
.dis-section .footer-banner .special-icon {
  background: url(../images/two-images.png) no-repeat;
  width: 500px;
  height: 325px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.page-pelikan .top-banner {
  height: 100%;
  min-height: 500px;
}
.small-collapse > div {
  padding: 0;
  margin: 0;
}
.list-icons a {
  max-width: 100px;
  margin: 0 auto;
}
.home .special-banner-text p {
  color: #0d4894;
}
.service-section .special-banner .special-banner-text h2 {
  font-weight: bold;
}
.service-section .special-banner .special-banner-text h2,
.service-section .special-banner .special-banner-text h4 {
  font-family: 'thesans_4-semilightitalic';
}
@media only screen and (min-width: 1602px) and (max-width: 1800px) {
  .logo {
    width: 220px;
  }
  .logo img {
    width: 60%;
  }
  .category-box .top-banner {
    background-size: 42% !important;
    height: auto;
  }
  .category-box .top-banner .top-description {
    margin-right: 100px;
  }
  .top-box img {
    width: 90%;
  }
  .top-box h4 {
    right: 10px;
    max-width: 30%;
  }
}
@media only screen and (max-width: 1600px) {
  #category-slider .slides {
    background-size: 38%!important;
    min-height: 200px;
    height: auto;
  }
  .category-box .top-banner {
    background-size: 42% !important;
  }
  .category-box .top-banner .top-description {
    max-width: 56%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  header > .container {
    padding-top: 50px;
  }
  header .logo {
    position: absolute;
    background: none;
    height: 50px;
    right: 0;
    width: 100%;
    float: none;
    text-align: center;
  }
  header .logo img {
    position: relative;
  }
  .top-box img {
    width: 70%;
  }
  .top-box h4 {
    font-size: 2.2em;
    max-width: 30%;
  }
  .certified:before {
    background-size: 48%;
  }
  .certified .certified-text {
    float: right;
  }
  .certified .quality-big {
    display: none;
  }
}
@media only screen and (max-width: 1300px) {
  #category-slider .slider-caption {
    margin-right: 0;
  }
  .text-top {
    margin-right: 0;
  }
  .header-line {
    margin-top: 0;
  }
  .top-special-image {
    width: 40%;
  }
  .header-line .main-bar {
    margin-bottom: 0;
    float: none;
  }
  .header-line .additional-info {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
  .disposal {
    background-size: contain;
    position: relative;
  }
  .disposal .special-banner-text .special-icon {
    display: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .top-bar li > a {
    padding: 6px 10px;
  }
  .top-box img {
    width: 40%;
  }
}
@media only screen and (max-width: 1200px) {
  #category-slider .slides {
    background-size: 48%!important;
  }
  #category-slider .slider-caption {
    margin-bottom: 70px;
    max-width: 600px;
    margin-right: 0;
  }
  .dis-section .footer-banner-text {
    float: right;
    margin-left: 0;
  }
  .certified .certified-text {
    float: right;
  }
  .top-box h4 {
    font-size: 46px;
    max-width: 180px;
  }
  footer .copyright {
    left: -100%;
    padding-left: 15px;
  }
  .store-form h4,
  .search-form-product h4 {
    margin-bottom: 20px;
    text-align: center;
    float: none;
    display: block;
  }
  .store-form form,
  .search-form-product form {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .certified .quality-big {
    display: none;
  }
  .page-print img {
    width: 100%;
  }
  .product-text {
    padding-top: 30px;
  }
  .footer-logo img {
    width: 100%;
  }
  .special-icon {
    display: none;
  }
  .additional-top-box .additional-top-text {
    padding-right: 30px;
    margin-left: 30px!important;
  }
  .additional-top-box .additional-top-text h4 {
    text-align: left;
  }
}
@media only screen and (min-width: 920px) and (max-width: 1100px) {
  .search-form form .btn {
    position: absolute;
    right: 0;
  }
  .search-results .results-one img {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1100px) {
  header .simpleselect {
    margin: 10px 20px 0;
  }
  header .top-bar li > a {
    padding: 14px 5px;
  }
  .top-search {
    width: 20px;
  }
  .top-search input[type="text"] {
    display: none;
  }
  .active input[type="text"] {
    display: inline-block;
    width: 200px;
    position: absolute;
    right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 880px) {
  .login-form {
    width: auto;
  }
  .login-form span {
    font-size: 0;
    height: 50px;
  }
  .login-form:hover {
    padding: 0 0 0 34px;
  }
}
@media only screen and (max-width: 990px) {
  #category-slider .slides {
    background-size: 48%!important;
  }
  #category-slider .slider-caption {
    margin-top: 35%;
    margin-bottom: 70px;
    max-width: 100%;
  }
  .dis-section .footer-banner:before {
    width: 50%;
  }
  .text-top {
    margin-top: 50px;
  }
  .certified {
    background-size: contain;
    background-color: #F7F8FD;
    position: relative;
    padding: 55% 0 20px 0;
  }
  .certified .certified-text {
    float: none;
  }
  .certified:before {
    width: 70%;
    background-size: 100%;
  }
  .certified .certified-text {
    margin-left: 0;
  }
  footer .copyright {
    left: 0;
    padding-left: 0;
  }
  footer .item {
    margin-bottom: 30px;
  }
  .filter-box {
    float: none;
  }
  .service-section-home .special-banner:before {
    background-size: 36%;
  }
  .service-section-home .special-banner .special-banner-text {
    padding-left: 320px;
    max-width: 100%;
    padding-right: 50px;
    margin: 0;
  }
  .product-list {
    padding: 40px 0;
  }
  #category-slider .slick-slide {
    background-size: 30%!important;
  }
  #category-slider .slider-caption {
    margin: 130px 0 70px 0;
  }
  .slider {
    width: 100%;
    margin-bottom: 40px;
  }
  .slider .slick-slide img {
    width: 100%;
  }
  .product-description {
    padding-top: 0;
  }
  .single-post .awards-box {
    text-align: center;
    float: none;
    clear: both;
    max-width: 100%;
    margin: 30px auto 0;
  }
  .single-post .awards-box ul li {
    width: auto;
  }
  .additional-top-box {
    background: rgba(247, 249, 253, 0.88);
  }
  .finder h6 {
    text-align: center;
  }
  .finder .search-form-product form {
    float: none;
    margin: 0 auto;
    display: block;
  }
  .header-small-menu ul.nav {
    text-align: center;
  }
  .header-small-menu ul.nav li {
    display: inline-block;
    float: none;
  }
  .order-list {
    margin-top: 40px;
  }
  .search-blog form {
    position: relative;
  }
  .search-blog form input[type="text"] {
    padding-right: 160px;
  }
  .search-blog form .btn {
    position: absolute;
    right: 0;
    width: 150px;
    top: 0;
    margin-top: 0;
  }
  .blog-results,
  .search-results {
    padding: 20px 0;
  }
  .blog-results .results-one:first-child,
  .search-results .results-one:first-child {
    padding-top: 0;
  }
  .blog-results .results-one img,
  .search-results .results-one img {
    margin-bottom: 20px;
    width: auto;
  }
  .blog-results .results-one h5 a,
  .search-results .results-one h5 a {
    font-size: 20px;
  }
  .service-section-home .special-banner .special-banner-text p,
  .service-section-home .special-banner .special-banner-text h2 {
    text-shadow: 0 0 2px #ffffff;
  }
  .service-section-home .special-banner .special-banner-text p {
    padding-right: 0;
  }
  .footer-logo img {
    width: auto;
  }
  .content .list-icons {
    padding-top: 60px;
  }
  .list-category .list-icons {
    padding-top: 0;
  }
  .list-category .list-icons img {
    position: relative;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: 0 auto;
    display: block;
    width: auto;
    top: 0;
    left: 0;
  }
  .list-category .list-icons span {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 100%;
    left: 0;
    max-width: 100%;
    text-align: center;
    line-height: 26px;
    position: relative;
    clear: both;
    top: 0;
    margin-left: 0;
  }
  .list-category .list-icons a {
    margin: 0 auto;
    max-width: 145px;
  }
  .service-section .special-banner-text {
    left: 0;
  }
  .top-banner {
    min-height: 200px;
  }
  .smart .smart-part img {
    width: auto;
    margin: 20px auto 0;
  }
  .top-box img {
    width: 45%;
  }
  .top-box .btn {
    left: 50px;
    margin-left: 0;
  }
  .collapse-row .row-fluid *:nth-child(3) .btn {
    margin-left: 0;
  }
  .quality-icon {
    display: none;
  }
  .print-graphic img {
    float: none;
    display: block;
    margin: 20px auto;
    width: auto;
  }
  .certified {
    background-size: contain;
    position: relative;
  }
  .certified .quality-big {
    display: none;
  }
  footer .footer-menu {
    margin-bottom: 20px;
  }
  footer .social {
    float: none;
    margin-bottom: 20px;
  }
  footer .copyright {
    position: relative;
    left: 0;
    bottom: 0;
    clear: both;
  }
}
@media only screen and (min-width: 767px) and (max-width: 880px) {
  img.align-right {
    width: auto;
    clear: both;
    margin: 0 auto;
    float: none;
    display: block;
  }
  .special-banner:before {
    width: 50%;
  }
  .special-banner .special-banner-text {
    margin-left: 360px;
  }
  .special-banner .special-banner-text h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 880px) {
  .dis-section .footer-banner:before {
    width: 55%;
  }
  .dis-section .footer-banner .footer-banner-text {
    padding: 50% 0 50px 0 ;
    margin-left: 0;
    float: none;
    max-width: 100%;
  }
  .dis-section .footer-banner .footer-banner-text h2 {
    padding-bottom: 20px;
  }
  #category-slider .slides {
    background-size: 48%!important;
  }
  #category-slider .slider-caption {
    margin-top: 35%;
    margin-bottom: 70px;
    max-width: 100%;
  }
  .subscribe-section form {
    margin-left: 0;
  }
  .top-special-image {
    width: 330px;
  }
  .text-top {
    margin-top: 100px;
    margin-bottom: 0;
  }
  .print-graphic .page-print-text {
    margin-left: 0;
  }
  .print-graphic-consumer img {
    width: auto;
  }
  .label {
    padding-left: 0;
  }
  .results-one,
  .search-results {
    padding-top: 0;
  }
  .results-one img,
  .search-results img {
    margin-bottom: 20px;
  }
  .brands {
    padding: 30px 0;
  }
  .brands .list-brads {
    padding-top: 20px;
  }
  .certified .certified-text {
    margin: 0 auto;
  }
  .search-results,
  .blog-results {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 767px) {
  .top-info {
    height: auto;
  }
  .top-banner {
    min-height: 200px;
    height: auto;
  }
  .text-top {
    margin-top: 0;
    float: none;
    margin-bottom: 40px;
    max-width: 100%;
  }
  .top-box img {
    width: 100%;
  }
  .top-box h4 {
    position: relative;
    padding: 25% 30px 20px 30px;
    max-width: 100%;
    text-align: center;
  }
  .print-graphic img {
    width: auto;
  }
  .results-one img,
  .search-results img {
    width: auto!important;
  }
  .smart .smart-part img {
    width: auto;
  }
  .search-form-product form input[type="text"] {
    margin-left: 0;
  }
  .search-form-product form input.btn {
    margin-left: 0;
  }
  .sub-menu.dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
  }
  .order-list .one-box {
    margin: 0 auto 30px!important;
  }
  .top-info {
    padding: 30px 0;
  }
  .category-box .top-banner {
    background-size: 50%!important;
  }
  .category-box .top-banner .top-description {
    max-width: 430px;
    float: right;
    margin-bottom: 40px;
  }
  .header-line .main-bar {
    margin-bottom: 0;
    float: none;
  }
  .header-line .main-bar .navbar-nav {
    float: none;
    text-align: left;
  }
  .header-line .main-bar .navbar-nav > li {
    float: none;
    display: block;
    width: 100%;
    clear: both;
  }
  .hide-login {
    border-top: 1px solid #9bb5d3;
  }
  .hide-login h4 {
    text-align: center;
  }
  .hide-login form {
    max-width: 320px;
    margin: 0 auto;
  }
  .top-box {
    max-width: 320px;
    margin: 0 auto 20px;
  }
  .top-box .btn {
    left: 50%;
    max-width: 320px;
    width: 100%;
    margin-left: -160px;
  }
  .collapse-row .row-fluid *:nth-child(3) .btn {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    left: 0;
  }
  .service-part {
    margin-bottom: 40px;
  }
  .content h1 {
    padding: 20px 0;
  }
  .content .list-icons {
    padding-top: 0;
  }
  .list-icons {
    padding-top: 0;
  }
  .list-icons img {
    left: 0;
  }
  .list-icons a {
    max-width: 320px;
    margin: 0 auto;
  }
  .content img {
    width: auto;
  }
  .content img.align-right {
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none;
  }
  .newsletter input[type="text"] {
    max-width: 300px;
  }
  .newsletter button {
    clear: both;
    display: block;
  }
  header .simpleselect .placeholder {
    padding: 6px 14px;
  }
  .additional-top-box {
    padding-bottom: 20px;
    background: rgba(247, 249, 253, 0.7);
  }
  .additional-top-box .additional-top-text {
    margin: 0 15px!important;
  }
  .additional-top-box .additional-top-text h4 {
    margin-bottom: 20px;
  }
  .print-graphic,
  .smart-consumer {
    padding-bottom: 0;
    position: relative;
    z-index: 10;
    background: #ffffff;
  }
  .smart-consumer {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .page-print h4 {
    margin-bottom: 20px;
  }
  .page-print .page-print-text {
    margin: 20px 0 20px 0;
  }
  .online-store {
    padding-bottom: 0;
  }
  .online-store .one-step {
    margin-bottom: 20px;
  }
  .online-store .one-step .line-select {
    width: 100%;
    float: none;
    margin: 20px 0;
    clear: both;
  }
  .online-store .one-step .simpleselect {
    margin-bottom: 20px;
  }
  .description-map .table-box .table-info,
  .description-map .table-box table {
    width: 100%;
  }
  .map {
    padding: 30px 0;
  }
  .store-form input.btn {
    width: 100%;
    max-width: 100%;
  }
  .service-section .special-icon {
    display: none;
  }
  .btn-back {
    float: left;
    margin-top: 20px;
    clear: both;
  }
  .single-box {
    padding-bottom: 30px;
  }
  .single-post h3 {
    margin-bottom: 20px;
  }
  .single-post .awards-box {
    margin: 0 auto;
    float: none;
    max-width: 100%;
  }
  .single-post .awards-box img {
    margin: 0 auto;
    display: block;
  }
  .single-post .awards-box ul {
    text-align: center;
  }
  .single-post .awards-box ul li {
    width: auto;
  }
  .slider {
    max-width: 100%;
    margin-bottom: 30px;
    width: 100%;
  }
  .slider .slick-slide img {
    width: 100%;
  }
  .product-slider img {
    width: 100%;
  }
  .product-slider .slick-dots {
    display: none!important;
  }
  .product-list {
    padding: 20px 0;
  }
  .search-form-product form {
    position: relative;
    max-width: 100%;
  }
  .search-form-product form input[type="text"] {
    padding-right: 80px;
    max-width: 100%;
  }
  .search-form-product form input.btn {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
  }
  .finder .list-brads {
    padding-top: 20px;
  }
  .finder h6 {
    text-align: center;
  }
  .finder .item {
    padding-top: 10px;
  }
  .finder .one-select-box .simpleselect {
    margin-bottom: 10px;
  }
  .brands {
    position: relative;
    z-index: 10;
  }
  .brands h4 {
    line-height: 38px;
  }
  .brands h4 img {
    width: 36px;
  }
  .brands .line-border {
    width: 80px;
    margin-left: -40px;
  }
  .dis-section .footer-banner .special-icon {
    display: none;
  }
  .dis-section .footer-banner .footer-banner-text {
    margin-left: 0;
  }
  .one-product {
    max-width: 280px;
    margin: 0 auto 34px;
  }
  .one-product img {
    width: auto;
  }
  .smart {
    position: relative;
    z-index: 10;
    background: #ffffff;
  }
  .smart .smart-part img {
    margin: 20px auto 0;
    width: auto;
  }
  .smart .smart-part p:first-child {
    margin-top: 30px;
  }
  .brands .simpleselect .placeholder {
    font-size: 15px;
  }
  .top-info {
    margin-bottom: 40px;
  }
  .top-info .call-box {
    padding: 35px 15px;
  }
  .top-info .call-box form .btn {
    width: 100%;
  }
  .search-form {
    padding: 20px 0;
  }
  .search-form h4 {
    margin-bottom: 20px;
    padding-top: 0;
  }
  .search-form h4 img {
    float: left;
    width: 36px;
  }
  .search-form .btn {
    width: 100%;
    margin-top: 10px;
  }
  .list-category-resellers {
    padding: 20px 0 40px 0;
  }
  .list-category-resellers .one-item {
    padding-top: 20px;
  }
  .service-section .special-banner-text {
    left: 0;
  }
  .special-banner img {
    width: 100%;
  }
  .top-banner {
    min-height: 200px;
  }
  .subscribe-section {
    padding: 40px 0;
  }
  .subscribe-section form {
    margin-top: 20px;
  }
  .subscribe-section form .label {
    text-align: left;
  }
  .contact-form .simpleselect {
    margin-bottom: 15px;
  }
  /* ------------------------------------
         Menu Styles
  ------------------------------------- */
  .header-line {
    margin-top: 0;
  }
  .header-line .additional-info {
    float: none;
    text-align: center;
    width: 100%;
    margin: 20px 0;
  }
  .header-line .additional-info span {
    padding: 0 20px 0 0;
  }
  .header-line .navbar-brand {
    display: block;
    text-align: right;
    float: right;
  }
  .header-line .main-bar {
    float: none;
    clear: both;
    background-color: #0d4894;
    color: #ffffff;
  }
  .header-line .main-bar .navbar-nav {
    padding: 0;
    margin: 0;
  }
  .header-line .main-bar .navbar-nav li a {
    color: #ffffff;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    font-size: 16px;
  }
  .header-line .main-bar .navbar-nav li a:hover {
    background-color: #9bb5d3;
  }
  .header-line .main-bar .navbar-nav .dropdown-menu li a {
    padding: 13px 20px;
    text-transform: uppercase;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
  }
  .header-line .main-bar .navbar-nav .dropdown-menu li a:hover {
    color: #ffffff;
  }
  .header-line .main-bar .nav > li > a:focus,
  .header-line .main-bar .nav > li > a:hover {
    background-color: #9bb5d3;
  }
  .header-line .nav .open > a,
  .header-line .nav .open > a:focus,
  .header-line .nav .open > a:hover {
    border: 0;
    background-color: #9bb5d3;
  }
  .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .sidebar-right {
    margin-top: 20px;
  }
  .store-form form {
    max-width: 100%;
  }
  .store-form form input[type="text"] {
    max-width: 100%;
  }
  .search-blog input[type="text"] {
    max-width: 100%;
  }
  .search-blog form {
    max-width: 100%;
  }
  /* ------------------------------------
          Header Styles
   ------------------------------------- */
  header .logo {
    position: absolute;
    background: none;
    height: 50px;
    right: 0;
    width: 100%;
    float: none;
    text-align: center;
  }
  header .logo img {
    position: relative;
  }
  header .login-form {
    background: #f3f6f9;
    clear: both;
    float: none;
    max-width: 100%;
    margin-bottom: 10px;
  }
  header .login-form .hide-login {
    width: 100%;
  }
  header .login-form .hide-login .register-box {
    padding-top: 20px;
    text-align: center;
  }
  header .login-form .hide-login .register-box button {
    margin: 0 auto 45px;
  }
  header .top-bar .nav li {
    text-align: center;
  }
  header .top-bar .nav li a {
    padding: 6px 10px;
  }
  header .top-search {
    max-width: 100%;
    width: 49%;
    margin-top: 0;
    margin-bottom: 10px;
  }
  header .simpleselect {
    width: 49%;
    float: left;
    margin: 0 0 10px 0;
  }
  header .simpleselect .placeholder {
    background: #f3f6f9;
  }
  header .simpleselect .options {
    width: 100%;
  }
  /* ------------------------------------
          Content Styles
   ------------------------------------- */
  .content {
    padding: 0 0 30px 0;
  }
  .content .one-post img {
    width: auto;
  }
  h1 {
    font-size: 40px;
    clear: both;
    padding: 20px 0;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 22px;
  }
  .title-page {
    font-size: 22px;
  }
  .brands {
    padding: 20px 0;
  }
  .list-icons {
    padding-bottom: 40px;
  }
  .list-icons img {
    position: relative;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: 0 auto;
    display: block;
    width: auto;
    top: 0;
  }
  .list-icons span {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 100%;
    left: 0;
    max-width: 100%;
    text-align: center;
    line-height: 26px;
    position: relative;
  }
  .special-banner .special-banner-text {
    float: none;
    width: auto;
    max-width: 300px;
    clear: both;
    margin-left: 360px;
  }
  .order {
    padding: 40px 0 0 0;
  }
  .order .order-list {
    clear: both;
    margin-top: 20px;
  }
  .news {
    padding: 40px 0;
  }
  .news ul {
    margin-top: 20px;
  }
  .list-downloads {
    margin-top: 20px;
  }
  .brands .icon-brand {
    left: -12px;
  }
  .list-category .list-icons a {
    height: auto;
  }
  .certified {
    background-size: contain;
    position: relative;
    padding: 55% 0 20px 0;
  }
  .certified:before {
    width: 70%;
  }
  .certified .quality-big {
    display: none;
  }
  .certified .certified-text {
    padding: 20px 0;
    margin-left: 0;
  }
  .certified .btn {
    margin-top: 0;
  }
  .quality-icon,
  .top-special-image {
    display: none;
  }
  .order-list .one-box {
    margin: 0 auto 30px;
    clear: both;
    float: none;
    display: block;
    max-width: 300px;
    text-align: center;
  }
  .search-form h4 {
    text-align: left;
  }
  /* ------------------------------------
          Footer Styles
   ------------------------------------- */
  footer .newsletter {
    margin-bottom: 30px;
  }
  footer .footer-logo {
    padding-bottom: 20px;
  }
  footer .footer-logo img {
    width: auto;
  }
}
@media only screen and (max-width: 620px) {
  .smart .smart-part img {
    width: 100%;
  }
  .content .home-content h1 {
    padding: 20px 0;
  }
  .content .home-content img {
    width: 100%;
  }
}
@media only screen and (max-width: 580px) {
  /* ------------------------------------
      Content Styles
------------------------------------- */
  .page-pelikan .top-banner {
    min-height: 200px;
  }
  .category-box .top-banner {
    background-image: none!important;
  }
  .category-box .top-banner .top-description {
    max-width: 100%;
    float: none;
  }
  .category-box .top-banner .top-description h1 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .category-box .top-banner .top-description h3 {
    font-size: 22px;
  }
  .category-box .top-banner .account-log {
    padding-bottom: 30px;
  }
  /* ------------------------------------
      Header Styles
------------------------------------- */
  .header-line .additional-info {
    margin: 20px 15px;
    width: auto;
  }
  .header-line .additional-info .btn {
    float: right;
  }
}
@media only screen and (max-width: 480px) {
  /* ------------------------------------
        Content Styles
  ------------------------------------- */
  .list-icons img {
    width: 25%;
  }
  .list-icons span {
    font-size: 16px;
  }
  .header-line .additional-info .btn {
    float: none;
  }
  .service-section-home .special-banner .special-banner-text {
    padding: 40px;
  }
  .content .home-content img {
    width: 100%;
  }
  .content .home-content h1 {
    padding: 20px 0;
  }
  .product-slider .slick-slide img {
    min-height: 140px;
  }
  .top-info .call-box h1 {
    font-size: 30px;
  }
  .top-info .call-box h5 {
    font-size: 22px;
  }
  .print-graphic {
    padding-top: 30px;
  }
  .print-graphic img {
    width: 100%;
  }
  .brands h4 {
    line-height: 28px;
  }
  .brands .btn {
    font-size: 15px;
  }
  .filter-box .label-filter {
    clear: both;
    margin-left: 0;
  }
  .filter-box .def-icon {
    display: none;
  }
  .newsletter input[type="text"] {
    max-width: 100%;
  }
  .newsletter button {
    clear: both;
    display: block;
  }
  .slider-caption {
    margin-right: 0;
  }
  .brands.finder span {
    line-height: 40px;
  }
  .product-slider div {
    height: 200px;
  }
}
@media only screen and (min-width: 781px) {
  .sub-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 46px;
    width: 100%;
  }
  .sub-menu li {
    background: #0d4894;
    width: 100%;
    border-top: 1px solid #ffffff;
  }
  .sub-menu li a {
    padding: 13px 12px;
    text-transform: uppercase;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
  }
  .sub-menu li a:hover {
    text-decoration: none;
    color: #ffffff;
  }
  .navbar-nav > li:hover .sub-menu {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .subscribe-section .subscribe-section-description p {
    padding-right: 0;
  }
  .service-section-home .special-banner:before {
    background-size: 55%;
  }
  .service-section-home .special-banner .special-banner-text {
    padding: 58% 30px 40px 30px;
    max-width: 100%;
    margin: 0;
  }
  .service-section-home .special-banner .special-banner-text h2 {
    font-size: 30px;
  }
  .service-section-home .special-banner .special-banner-text p {
    font-size: 14px;
  }
  .special-banner:before {
    width: 90%;
  }
  .special-banner .special-banner-text {
    margin: 55% 30px 0 30px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 380px) {
  #category-slider .slides {
    background-size: 64% auto !important;
  }
  #category-slider .slider-caption {
    margin-bottom: 30px;
  }
  .special-banner .special-banner-text {
    margin-top: 55%;
  }
  .special-banner .special-banner-text h2 {
    padding-bottom: 10px;
  }
  header .simpleselect {
    width: 100%;
    float: none;
  }
  header .top-search {
    width: 100%;
    clear: both;
    float: none;
  }
  .filter-box .label-filter {
    text-align: center;
  }
  .filter-box .simpleselect {
    clear: both;
    margin-left: 0;
    margin-top: 10px;
  }
  .search-blog form {
    position: relative;
  }
  .search-blog form input[type="text"] {
    padding-right: 20px;
  }
  .search-blog form .btn {
    position: relative;
    clear: both;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
