@import "variables";

/* ------------------------------------
        Basic Styles
 ------------------------------------- */
.container {
  max-width: 1200px;
  width: 100%;
}

body {
  font-family: 'thesans_5plain';
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'thesans_5plain';
}

h1 {
  font-size: @font-size-h1;
  color: @maincolor;
}

h2 {
  font-size: @font-size-h2;
  color: @maincolor;
}

h4 {
  font-size: @font-size-h4;
  color: @maincolor;
}

p {
  color: @greycustom;
  font-size: @mainsize;
  line-height: 24px;
  font-family: 'thesans_5plain';
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a {
  color: @linkcolor;
}

a:focus, a:active, a:link {
  outline: none;
  text-decoration: none;
}


::-webkit-input-placeholder {
  .opacity(1);
  font-family: 'thesans_5plain';
}
::-moz-placeholder {
  .opacity(1);
  font-family: 'thesans_5plain';
}
::-o-placeholder {
  .opacity(1);
  font-family: 'thesans_5plain';
}
:-ms-input-placeholder {
  .opacity(1);
  font-family: 'thesans_5plain';
}
input:-moz-placeholder {
  .opacity(1);
  font-family: 'thesans_5plain';
}

/* ------------------------------------
        Header Styles
 ------------------------------------- */
header {
  position: relative;
  min-height: 201px;
  z-index: 10;
}

.logo {
  background: url(../images/bg-logo.jpg) no-repeat;
  width: 340px;
  height: 201px;
  position: absolute;
  right: 0;
  top: 0;
  float: right;

  img {
    position: absolute;
    right: 0;
    top: 0;
  }
}


.top-bar {
  li > a  {
    text-transform: uppercase;
    padding: 14px 24px;
  }


  .nav  {
    li:first-child {
      a {
        padding-left: 0;
      }
    }
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: transparent;
  }

}

.header-line {
  margin-top: 60px;

  .main-bar {
    margin-top: 5px;

    .navbar-nav > li {
      position: relative;
    }

    .navbar-nav > li > a {
      font-size: @font-size-h5;
      text-transform: uppercase;
      color: @maincolor;
      display: inline-block;
      padding: 13px 20px;
      font-weight: bold;
      z-index: 10;
      .transition(@duration:0.2s, @ease:ease-out);
    }

    .navbar-nav > li:hover {

      > a {
        background: @maincolor;
        color: @white;
      }
    }

  }

  .additional-info {
    float: left;

    i {
      padding-right: 10px;
    }

    i, span  {
      color: @maincolor;
    }

    span {
      font-size: 28px;
      display: inline-block;
      padding: 0 20px;
      font-family: 'thesans_9e-blackexpertregular';
    }

    .btn {
      width: auto;
      max-width: 100%;
      vertical-align: bottom;
      display: inline-block;
    }
  }

  .navbar-brand {
    display: none;
  }

  .main-bar  {
    float: left;
    border: 0;

    .dropdown-menu {
      border: 0;
      box-shadow: none;
      background-color: transparent;
      margin: 0;
      padding: 0;
      li {
        a {
          font-weight: bold;
        }
      }
    }

    .navbar-collapse {
      padding: 0!important;
    }

    .dropdown-menu > li > a:focus,
    .dropdown-menu > li > a:hover {
      background-color: transparent;
    }

    .navbar-nav {
      li:first-child {
        a {
          padding-left: 12px;
        }
      }
    }
  }

}

/* ------------------------------------
        Header Styles
 ------------------------------------- */

.header-line {
  margin-top: 60px;


  .additional-info {
    float: left;

    i {
      padding-right: 10px;
    }

    i, span  {
      color: @maincolor;
    }

    span {
      font-size: 28px;
      padding-top: 10px;
      display: inline-block;
    }

    .btn {
      width: auto;
      max-width: 100%;
      display: inline-block;
    }
  }
}

header {
  ::-webkit-input-placeholder {
    font-size: 14px;
    color: #8d8d8d;
    .opacity(1);
  }
  ::-moz-placeholder {
    font-size: 14px;
    .opacity(1);
     color: #8d8d8d;
  }
  ::-o-placeholder {
    font-size: 14px;
    color: #8d8d8d;
    .opacity(1);
  }
  :-ms-input-placeholder {
    font-size: 14px;
    color: #8d8d8d;
    .opacity(1);
  }
  input:-moz-placeholder {
    font-size: 14px;
    color: #8d8d8d;
    .opacity(1);
  }
}

/* ------------------------------------
        Content Styles
 ------------------------------------- */
.top-box {
  position: relative;
  height: 100%;
  max-height: 496px;
  overflow: hidden;

  h4 {
    position: absolute;
    right: 14px;
    font-family: 'thesans_4-semilightitalic';
    max-width: 27%;
    bottom: 90px;
    color: @white;
    display: block;
    width: 100%;
    font-size: 45px;
  }

  .btn {
    position: absolute;
    left:50%;
    max-width: 302px;
    margin-left: -150px;
    bottom: 20px;
    width: 100%;
    font-family: 'thesans_6-semiboldplain';
    text-transform: none;
    font-size: 21px;
  }

  img {
    width: 100%;
    height: auto;
  }


}

.service-part {
  .item {
    &:nth-child(2) {
      background-color: #f4f4f4;
    }
    &:nth-child(1) {
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */

    }

  }
}



.collapse-row {
   > div {
    padding: 0;
    margin: 0;
  }
  .row-fluid {
    :nth-child(3) {
      .btn {
        background: @whitebtnbg;
        max-width: 150px;
        margin-left: -75px;
        color: @whitebtncolor;
      }
    }
  }
}

.content {
  padding: 90px 0 0 0;

  .home-content {

    h1 {
        padding: 50px 0;
        font-family: 'thesans_4-semilightitalic';
        font-weight: bold;
    }

    img {
      margin-left: 80px;
    }


    p {
      color: @maincolor;


      a {
        color: @maincolor;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

  }
}

.align-right {
  float: right;
  margin: 0 0 10px 10px;
}

.list-icons {
  padding: 20px 0 80px 0;

  a {
    display: block;
    position: relative;
  }

  &:hover {
    text-decoration: none;
  }

  img  {
    display: inline-block;
    top: -58px;
    left: -100px;
    position: absolute;
  }

  span {
    color: @maincolor;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 21px;
    display: block;
    max-width: 260px;
    left: 30px;
    top: 0;
    position: relative;
//    .translate(0, -50%);
//    margin-left: 80px;
  }

  .col-lg-3:nth-child(2) {
    span {
      margin-right: 40px;
    }
  }
}


.special-banner {
  border: 1px solid #d0d0d0;
  position: relative;
  background: url(../images/bg-shadow.png) repeat-x @white;

  &:before {
    background: url(../uploads/pelikan.png) no-repeat;
    background-size: contain;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  img {
    float: left;
  }

  .special-banner-text {
    max-width: 560px;
    width: 100%;
    padding: 50px 0 20px 0;
  }

  p,   .btn-link {
    margin-bottom: 30px;
  }

  .btn-link {
    display: inline-block;
    width: auto;
  }

  .special-icon {
    background: url(../images/two-images.png) no-repeat;
    width: 500px;
    height: 325px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/* ------------------------------------
        Footer Styles
 ------------------------------------- */

/* ------------------------------------
        Placeholder Styles
 ------------------------------------- */
footer ::-webkit-input-placeholder {
  .opacity(1);
  text-transform: uppercase;
  color: @footer-link-color;
}
footer ::-moz-placeholder {
  .opacity(1);
  text-transform: uppercase;
  color: @footer-link-color;
}
footer ::-o-placeholder {
  .opacity(1);
  text-transform: uppercase;
  color: @footer-link-color;
}
footer :-ms-input-placeholder {
  .opacity(1);
  text-transform: uppercase;
  color: @footer-link-color;
}
footer input:-moz-placeholder {
  .opacity(1);
  text-transform: uppercase;
  color: @footer-link-color;
}

footer {
  background: @maincolor;
  padding: 42px 0;
  position: relative;

  h6 {
    font-size: @font-size-h6;
    color: @white;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-family: 'thesans_7-boldcaps';
  }

  .copyright {
    text-transform: uppercase;
    position: absolute;
    left: -80px;
    bottom: -20px;

    p {
      color: @footer-link-color;
      a {
        text-decoration: underline;
        color: @footer-link-color;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .footer-menu {
    li {
      padding-bottom: 10px;
    }

    a {
      color: @footer-link-color;
      text-transform: uppercase;
      font-size: @mainsize;
      display: inline-block;
      clear: both;
      float: left;
      font-family: 'thesans_5plain';

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-logo {
    padding-bottom: 45px;
    display: block;
  }

  .social {
    float: right;
    margin-bottom: 50px;

    a {
      display: inline-block;
      margin: 0 0 10px 5px;
      .transition(@duration:0.2s, @ease:ease-out);
      .opacity(0.2);

      img {
        width: 27px;
      }

      &:hover {
        .opacity(1);
      }
    }
  }

}


/* ------------------------------------
        Forms Styles
 ------------------------------------- */
input, button {
  border: 0;
  box-shadow: none;
  .corners(0);
}

.newsletter {

  input[type="text"] {
    background: #1e58a0;
    padding: 6px 9px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: 'thesans_5plain';
  }

  input {
    text-transform: uppercase;
    color: @footer-link-color;
  }

  button {
    background: transparent;
    text-transform: uppercase;
    color: @footer-link-color;
    width: auto;
    font-family: 'thesans_5plain';
  }
}

.top-search {
  max-width: 220px;
  width: 100%;
  margin-top: 10px;
  position: relative;
  float: right;

  input[type=text] {
    background: #f3f6f9;
    padding-right: 40px;
    padding-left: 10px;
    margin-bottom: 0;
    height: 30px;
    width: 100%;
    font-family: 'thesans_5plain';
  }

  button {
    position: absolute;
    right: 4px;
    top: 5px;
    background: transparent;
    border: 0;
  }

  .search-icon {
    background: url(../images/search-icon.png) no-repeat;
    display: block;
    width: 19px;
    height: 19px;

  }

}

/* ------------------------------------
        Header Login Form Styles
 ------------------------------------- */
.login-form {
  max-width: 200px;
  width: 100%;
  position: relative;
  float: right;
  padding: 0 0 0 34px;


  span {
    text-transform: uppercase;
    color: #8d8d8d;
    cursor: pointer;
    padding: 15px 0 15px 10px;
    display: inline-block;
  }

  .hide-login {
    background: @maincolor;
    padding: 22px;
    position: absolute;
    width: 426px;
    right: 0;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    z-index: 100;


    h3 {
      color: @white;
      text-transform: uppercase;
      font-size: 20px;
      position: relative;
      padding-bottom: 9px;
      margin-bottom: 20px;

      &:after {
        height: 1px;
        background: @white;
        width: 160px;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -80px;
        content: " ";
      }
    }


    h4 {
      font-size: @mainsize;
      color: @white;
      text-transform: capitalize;
      padding-bottom: 8px;
    }

    input {
      width: 100%;
      margin-bottom: 10px;
      height: 26px;
      padding: 0 9px;
      font-size: 15px;
      color: #a3a3a3;
    }

    button {
      background: @search-bg;
      color: @white;
      text-transform: uppercase;
      max-width: 126px;
      width: 100%;
      height: 25px;
      line-height: 25px;
      margin: 0 auto;
      display: block;
      font-size: @font-size-small;

    }


    ::-webkit-input-placeholder {
      font-size: 15px;
      color: #a3a3a3;
    }
    ::-moz-placeholder {
      font-size: 15px;
      color: #a3a3a3;
    }
    ::-o-placeholder {
      font-size: 15px;
      color: #a3a3a3;
    }
    :-ms-input-placeholder {
      font-size: 15px;
      color: #a3a3a3;
    }
    input:-moz-placeholder {
      font-size: 15px;
      color: #a3a3a3;
    }

    .register-box {
      button {
        margin: 0 0 45px 0;
      }

      a {
        color: @white;
        text-decoration: underline;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  .lock-icon {
    background: url(../images/lock.png) no-repeat;
    width: 14px;
    height: 18px;
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
  }

  &:hover {
    padding: 0 34px;

    background: @maincolor;

    .lock-icon {
      background: url(../images/lock-white.png) no-repeat;
    }
    span {
      color: @white;
    }

    .hide-login {
      visibility: visible;
      opacity: 1;
      animation: fadein 1s;
      -moz-animation: fadein 1s;
      -webkit-animation: fadein 1s;
      -o-animation: fadein 1s;
    }

    @keyframes fadein {
      from {
        opacity:0;
      }
      to {
        opacity:1;
      }
    }
    @-moz-keyframes fadein { /* Firefox */
      from {
        opacity:0;
      }
      to {
        opacity:1;
      }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
        opacity:0;
      }
      to {
        opacity:1;
      }
    }
    @-o-keyframes fadein { /* Opera */
      from {
        opacity:0;
      }
      to {
        opacity: 1;
      }
    }
  }

}



/* ------------------------------------
        Map Styles
 ------------------------------------- */

.map {
  background: url(../uploads/map.jpg) no-repeat;
  width: 100%;
  padding: 120px 0;
  position: relative;
}

.bg-map {
  background: rgba(9,78,162,0.1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.description {
  background: @white;
  max-width: 246px;
  position: relative;
  z-index: 10;
  padding-bottom: 20px;


  .btn-box {
    margin: 20px 20px 0 20px;
    .btn {
      font-size: @font-size-18;
      width: 100%;
      font-weight: normal;
    }
  }


  h5 {
    background: @maincolor;
    padding: 10px 20px;
    color:@white;
    text-transform: uppercase;
    font-size: @font-size-h5;
  }

  p {
    padding: 15px 15px 0 15px;
    margin-bottom: 0;
    a {
      color: @maincolor;
    }
  }
}

.marker {
  background: url(../images/marker.png) no-repeat;
  width: 161px;
  height: 130px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -80px;
  margin-top: -65px;
}

/* ------------------------------------
        Subscribe Styles
 ------------------------------------- */

.subscribe-section {
  background: @newslatterbg;
  padding: 70px 0;


  .subscribe-section-description {
    p {
      padding-right: 80px;
      color: @white;
      margin-bottom: 30px;
    }
  }

  h4 {
    text-transform: uppercase;
    color:@white;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 40px;
    &:after {
      content: "";
      width: 140px;
      height: 1px;
      background: @white;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }


  form {
    max-width: 380px;
    margin-left: 60px;

    .btn {
      text-transform: uppercase;
      width: auto;
      margin: 0 auto;
    }

    .label {
      color: @white;
      margin-bottom: 20px;
      display: inline-block;
      font-weight: normal;
      font-size: @mainsize;
      line-height: 22px;
      white-space: normal;
      text-align: left;
      margin-left: 36px;

      a {
        color: @maincolor;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

    }

    input[type=checkbox] {
      opacity: 0;
    }

    input[type="text"], input[type="email"] {
      background: @white;
      height: 38px;
      width: 100%;
      padding: 6px 10px;
      box-sizing: border-box;
      color: @maincolor;
      margin-bottom: 15px;
    }

    input.half-size {
      width: 49%;
      float: left;
      margin-right: 1%;
      margin-left: 1%;

      &:nth-child(1) {
        margin-left: 0;

      }

      &:nth-child(2) {
        margin-right: 0;
      }
    }
  }
}

/* ------------------------------------
        BUTTONS Styles
 ------------------------------------- */

.btn {
  background: @bluebtnbg;
  padding: 8px 15px;
  color: @white;
  width: auto;
  display: inline-block;
  text-transform: uppercase;
  .corners(0);
  box-shadow: none;
  font-family: 'thesans_5plain';
  white-space:normal;
  font-size: 18px;
  .transition(@duration:500ms, @ease:linear);

  &:hover,&:focus, a:active  {
    background: @lightbluebtnbg;
    color: @white;
    box-shadow: none;
  }
}

.btn.active,
.btn:active {
  box-shadow: none;
}


.btn-link {
  background: @btngreen;
  color: @white;
  padding: 6px 16px;
  font-family: 'thesans_5plain';
  white-space:normal;
  font-size: 18px;
  text-transform: uppercase;
  .transition(@duration:500ms, @ease:linear);

  &:hover {
    background: @maincolor;
    color: @white;
    text-decoration: none;


  }
}





/* ------------------------------------
        Checkbox Styles
 ------------------------------------- */
.squaredTwo {
  background: @white;
  position: absolute;
  width: 26px;
  height: 26px;

  label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
    top: 4px;


    &:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 10px;
      background: transparent;
      top: 2px;
      left: 4px;
      border: 3px solid #000;
      border-top: none;
      border-right: none;

      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:hover::after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      opacity: 0.3;
    }
  }
  input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }

  input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }

}


/* ------------------------------------
        Contact Styles
 ------------------------------------- */

.title-page {
  padding-bottom: 30px;
  margin-bottom: 40px;
  color:@maincolor;
  font-size: @font-size-h4;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  position: relative;

  &:after {
    width:  160px;
    height: 1px;
    background: @maincolor;
    content: " ";
    position: absolute;
    left:50%;
    bottom: 0;
    margin-left: -80px;
  }
}


.contact-form {
  max-width: 380px;
  margin: 40px auto;

  textarea {
    margin-bottom: 40px;
    background: #f7f8fd;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    height: 90px;
    padding: 6px 10px;
    margin-top: 15px;
    resize: none;
    color: @maincolor;
  }

  input[type="text"], input[type="email"], input[type="tel"] {
    background: #f7f8fd;
    height: 38px;
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    color: @maincolor;
    margin-bottom: 15px;
  }

  input[type="email"] {
    background: url(../images/letter.jpg) no-repeat right top #f7f8fd;
    padding-right: 42px;
  }

  .btn {
    text-transform: uppercase;
    width: auto;
    margin: 0 auto;
    font-size: 18px;
    min-width: 160px;
  }

}

.bg-top-info {
  background: rgba(8,70,144,0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


.top-info {
  position: relative;
  width: 100%;
  padding: 125px 0 85px 0;
  margin-bottom: 70px;
  height: 600px;

  .call-box {
    background: @bluebtnbg;
    padding: 35px;
    max-width: 492px;

    h5 {
      text-transform: uppercase;
      padding-bottom: 16px;
      font-size: 30px;
      font-family: 'thesans_5plain';
    }

    h5, h1, p  {
      color: @white;
    }

    h1 {
      padding:0 0 40px 0;
      font-family: 'thesans_9e-blackexpertregular';
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;
    }

    form {

      ::-webkit-input-placeholder {
        font-size: 18px;
      }
      ::-moz-placeholder {
        font-size: 18px;
      }
      ::-o-placeholder {
        font-size: 18px;
      }
      :-ms-input-placeholder {
        font-size: 18px;
      }
      input:-moz-placeholder {
        font-size: 18px;
      }

      input[type="email"] {
        background: @white;
        width: 100%;
        height: 38px;
        line-height: 38px;
        padding: 0 12px;
        margin-bottom: 15px;

      }

      .btn {
        background: #1295dc;
        color: @white;
        text-transform: uppercase;
        width: auto;
        padding: 8px 40px;
        .transition(@duration:500ms, @ease:linear);

        &:hover {
          background: @lightbluebtnbg;
        }
      }

    }
  }
}


/* ------------------------------------
        Default Styles
 ------------------------------------- */
::-webkit-input-placeholder {
  .opacity(1);
  text-transform: none;
  color: @maincolor;
}
::-moz-placeholder {
  .opacity(1);
  text-transform: none;
  color: @maincolor;
}
::-o-placeholder {
  .opacity(1);
  text-transform: none;
  color: @maincolor;
}
:-ms-input-placeholder {
  .opacity(1);
  text-transform: none;
  color: @maincolor;
}
input:-moz-placeholder {
  .opacity(1);
  text-transform: none;
  color: @maincolor;
}


/* ------------------------------------
        Search Styles
 ------------------------------------- */
.search-form {
  background: @search-bg;
  padding: 30px 0;
  position: relative;

  form {
    max-width: 602px;
    width: 100%;
    position: relative;
    display: inline-block;
  }

  h4 {
    color: @white;
    text-transform: uppercase;
    line-height: 38px;
    text-align: center;
    float: left;
    padding-top: 5px;

    img {
      margin-right: 20px;
    }
  }

  input[type="text"] {
    background: @white;
    height: 58px;
    padding: 9px 14px;
    width: 100%;
    box-sizing: border-box;
    color: #a3a3a3;
    font-size: @mainsize;
    float: none;
    max-width: 436px;
  }

  .btn {
    text-transform: uppercase;
    width: auto;
    height: 58px;
    font-size: 24px;
    vertical-align: top;
    font-weight: normal;
  }

  ::-webkit-input-placeholder {
    .opacity(1);
    text-transform: none;
    color: #a3a3a3;
  }
  ::-moz-placeholder {
    .opacity(1);
    text-transform: none;
    color: #a3a3a3;
  }
  ::-o-placeholder {
    .opacity(1);
    text-transform: none;
    color: #a3a3a3;
  }
  :-ms-input-placeholder {
    .opacity(1);
    text-transform: none;
    color: #a3a3a3;
  }
  input:-moz-placeholder {
    .opacity(1);
    text-transform: none;
    color: #a3a3a3;
  }
}



.search-results, .blog-results {
  padding: 100px 0 0 0;
  .results-one {
    position: relative;
    padding-top: 30px;
    padding-bottom: 10px;

    img {
      border: 1px solid #e8e8e8;
      width: 100%;
      box-sizing: border-box;
    }

    h5 {
      a {
        font-size: 24px;
        color: @maincolor;
        text-transform: uppercase;
        margin-bottom: 11px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    p {
      color: @greycustom;
      font-size: @mainsize;
      line-height: 28px;
      margin-bottom: 5px;
    }

    .category {
      color: @maincolor;
      font-size: 14px;
      text-transform: uppercase;
    }

    .line {
      width: 147px;
      background: @maincolor;
      height: 1px;
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -72px;
      display: block;
    }

  }
}

.search-results {
  padding-bottom: 80px;
}

/* ------------------------------------
        Sidebar Styles
 ------------------------------------- */

.sidebar-right {
  background: #f7f9fd;
  padding: 25px 24px;

  h5 {
    text-transform: uppercase;
    color: @maincolor;
    padding-bottom: 15px;
    font-size: @font-size-18;
    font-weight: bold;
  }

  .category-list {
    ul {
      margin-bottom: 25px;

      li {
        border-bottom: 1px solid #dfe7f2;
        padding: 8px 0;
        a {
          color: #606162;
          font-size: 16px;
          line-height: 36px;

          &:hover {
            text-decoration: none;
          }
        }

        .count {
          background: @maincolor;
          color: @white;
          padding: 2px 9px;
          min-width: 36px;
          text-align: center;
          display: inline-block;
          float: right;
          line-height: 32px;
          font-family: 'thesans_3e-lightexpertregular';
        }
      }
    }
  }

  .one-post {
    margin-bottom: 20px;

    img {
      float: left;
      margin: 0 20px 0 0;
    }

    a {
      color: @maincolor;
      font-size: 15px;
      text-transform: uppercase;
    }
  }

}
.tags {
  li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background: @white;

    a {
      padding: 10px 14px;
      color: @maincolor;
      text-transform: uppercase;
      display: block;

      &:hover {
        text-decoration: none;
      }

    }

  }
}

.recent-post {
  margin-bottom: 27px;
}

.blog-results {
  .results-one {
    p {
      margin-bottom: 10px;
    }
    .line {
      margin-left: 0;
      left: 15px;
    }
    .btn {
      font-family: 'thesans_3-lightplain';
      font-size: 18px;
    }
  }

}


/* ------------------------------------
        Thank Page Styles
 ------------------------------------- */

.thank-box {
  padding-bottom: 100px;

  p {
    color: @greycustom;
  }
  .title-page {
    border-bottom: 0;
    position: relative;
    &:after {
      width:  160px;
      height: 1px;
      background: @maincolor;
      content: " ";
      position: absolute;
      left:50%;
      bottom: 0;
      margin-left: -80px;
    }
  }
}
.list-downloads {
  a {
    height: 38px;
    background:  url(../images/download.jpg) no-repeat right top @white;
    padding: 0 44px 0 14px;
    line-height: 38px;
    position: relative;
    display: block;
    margin-bottom: 4px;
    color: @greycustom;
    font-size: 16px;

    &:hover {
      text-decoration: none;
    }
  }
}


/* ------------------------------------
        Service Page Styles
 ------------------------------------- */

.top-banner {
  position: relative;
  .social {
    position: relative;
    padding: 20px 0 400px 0;
    float: right;

    a {
      margin-left: 5px;
      .transition(@duration:0.2s, @ease:ease-out);
      .opacity(1);

      img {
        width: 40px;
      }

      &:hover {
        .opacity(0.7);
      }
    }
  }
}

.service-section {
  .special-banner-text {
    max-width: 344px;
    position: relative;
    margin: 0 0 0 460px;
  }

}

.service-section {
  padding: 40px 0 60px 0;

  .one-service {
    padding-bottom: 65px;
  }

  .title-page {
    border-bottom: 0;
    position: relative;
    &:after {
      width:  160px;
      height: 1px;
      background: @maincolor;
      content: " ";
      position: absolute;
      left:50%;
      bottom: 0;
      margin-left: -80px;
    }
  }

  .btn {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 85px;
  }

  .btn-link {
    background: #e3147d;
    text-transform: none;
    color: @white;
    text-shadow: 0 0 0 3px #ccc;
    .text-shadow (0 0 1px #888);
    .box-shadow (1px 1px 2px #888);
  }

  .special-icon {
    background: url(../images/buy-icon.png) no-repeat;
    width: 336px;
    height: 331px;
  }

}

.quality-icon {
  width: 709px;
  height: 599px;
  position: absolute;
  left: 0;
  top: 0;
}

.list-category {
  border-bottom: 1px solid #e6ecf4;

  .list-icons {
    padding-bottom: 16px;
    padding-top: 30px;
  }
}

.print-graphic {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  z-index: 100;
  background: @white;

  h4 {
    text-transform: uppercase;
  }

  p {
    color: @greycustom;
    margin-bottom: 36px;
    line-height: 28px;
  }
  img {
    float: right;
  }
  .btn {
    text-transform: uppercase;
    width: auto;
    display: inline-block;
  }

}

/* ------------------------------------
        Btands Styles
 ------------------------------------- */
.brands {
  background: @search-bg;
  padding: 80px 0;
  position: relative;
  z-index: 10;

  p {
    color: @white;
  }

  .btn {
    margin-bottom: 15px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    font-size: 19px;
    width: 100%;
    font-family: 'thesans_7-boldplain';
  }

  .simpleselect {
    background: @white;
  }

  .simpleselect .placeholder {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    color: @maincolor;
    font-size: @font-size-18;
    text-transform: none;
  }
  .simpleselect .placeholder:after {
    background: url(../images/brands.png) no-repeat;
    right: 15px;
    width: 13px;
  }

  .list-brads {
    padding-top: 60px;
    .btn {
      text-transform: capitalize;
    }

    .simpleselect {
      .options {

        .option {
          text-transform: none;
        }
        .active {
          padding: 11px 10px;
        }

      }
    }
  }

  .simpleselect .options {
    width: 100%;
  }

  h4 {
    color: @white;
    display: inline-block;
    line-height: 58px;
    text-transform: uppercase;

    &:after {
      background: @white;
    }


    img {
      display: inline-block;
      float: left;
      margin-right: 20px;
    }

  }

  .line-border {
    width:  160px;
    height: 1px;
    background: @white;
    position: relative;
    left: 50%;
    bottom: 0;
    display: block;
    margin-left: -80px;
    margin-bottom: 40px;
    margin-top: 30px;
  }
}


/* ------------------------------------
        Certified Styles
 ------------------------------------- */
.certified {
  position: relative;
  &:before {
    background: url(../uploads/quality.png) no-repeat left top #f7f8fd;
    padding-bottom: 50px;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
  }

  h4 {
    text-align: center;
    display: block;
  }

  p {
    margin-bottom: 30px;
    color: @greycustom;
  }

  .btn {
    width: auto;
    margin-top: 30px;
    display: inline-block;
    text-transform: uppercase;
  }

  .certified-text {
    margin-left: 320px;
    max-width: 580px;
    padding: 80px 0;
  }

  .quality-big {
    background: url(../uploads/big-icon.png) no-repeat;
    width: 285px;
    height: 357px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -180px;
  }
}


/* ------------------------------------
        Top Banner Styles
 ------------------------------------- */

.top-banner {
  height: 600px;
  background-position: center top!important;

  .social {
    padding: 30px 0 40px 0;
  }
}

.text-top {
  max-width: 700px;
  background: @maincolor;
  padding: 38px;
  margin: 0 130px 70px 0;
  float: right;
  clear: both;


  * {
    color: @white;
  }

  .btn {
    background: @white;
    color: @maincolor;
  }

  h4 {
    padding-bottom: 40px;
    text-transform: uppercase;
    font-family: 'thesans_6-semiboldplain';
  }

  p {
    margin-bottom: 33px;
    font-size: @mainsize;
  }

}

.top-special-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top: 0;
  max-width: 665px;

  img {
    width: 100%;
  }

}


/* ------------------------------------
        Smart  Styles
 ------------------------------------- */

.smart {
  background: @white;
  padding: 70px 0;
  position: relative;
  z-index: 101;

  .smart-part {

    max-width: 1156px;
    margin: 0 auto;

    h4 {
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
    p {
      margin: 0 0 40px 0;
      &:first-child {
        margin-top: 40px;
      }
    }
  }

}

.disposal {
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/image-green.png) no-repeat left top  #f6f7fc;
    display: block;
  }


  .special-banner {
    border: 0;
    background: transparent;
    margin-bottom: 0;
  }

  .special-banner-text {
    max-width: 404px;
    position: relative;
    margin: 0 auto;
    float: none;
    padding: 80px 0;

    .special-icon {
      right: -450px;
    }

    p {
      color: @greycustom;
    }
  }

}


/* ------------------------------------
        Order  Styles
 ------------------------------------- */
.order {
  background: @white;
  padding: 80px 0;
  h4 {
    &:after {
      margin-left: 0;
      left:0;
    }
  }

  p {
    color: @greycustom;
    line-height: 28px;
  }

  .btn {
    margin-top: 30px;
  }

}

/* ------------------------------------
        News  Styles
 ------------------------------------- */
.news {
  background: #f3f6fa;
  padding: 80px 0;
  h4 {
    &:after {
      margin-left: 0;
      left:0;
    }
  }

  p {
    margin-bottom: 40px;
    line-height: 28px;
  }

  ul {

    li {
      color: @greycustom;
      font-size: @mainsize;
      padding-bottom: 6px;
      padding-left: 10px;

      &:before {
        content:'•';
        font-size: 14px;
        position: relative;
        left: -10px;
      }
    }
  }
}


/* ------------------------------------
        User  Styles
 ------------------------------------- */
.user {
  padding: 60px 0;

  p {
    color: @greycustom;
  }
}

.order-list {
  margin-top: -50px;

  .one-box {
    display: inline-block;
    margin: 0 0 30px 0;

    span {
      text-transform: uppercase;
      color: @maincolor;
      font-size: @mainsize;
      display: block;
      clear: both;
      text-align: center;
    }

    img {
      margin: 0 auto 20px;
      display: block;
    }

    &:last-child {
      margin-right: 0;
    }
  }


}

.category-box {
  margin-top: 1px;
}

.list-category-resellers {
  padding: 80px 0;

  .one-item {
    padding-top: 15px;
    padding-bottom: 40px;
  }
}

.account-log {
  float: right;
  padding: 36px 0 84px 0;
  color: #7d8fb4;
  font-size: @font-size-18;
  a {
    color: @white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.top-description {
  clear: both;
  float: right;
  max-width: 680px;
  margin: 0 180px 100px 0;
  * {
    color: @white;
  }

  .btn {
    background: @white;
    color: @maincolor;
  }

  h1 {
    margin-bottom: 44px;
    font-weight: bold;
    font-family: 'thesans_4-semilightitalic';
  }

  h3 {
    padding-bottom: 34px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'thesans_7-boldcaps';
  }

  p {
    margin-bottom: 30px;
  }
}

.become-section  {
  padding: 80px 0;

  p {
    color: @greycustom;
  }

  h4 {
    margin-bottom: 70px;
  }

  .contact-form {
    max-width: 100%;
    margin: 0 0 0 30px;

    input, .simpleselect  {
      margin-bottom: 15px;
    }

    textarea {
      margin-top: 0;
    }
    .btn{
      max-width: 150px;
      width: 100%;
    }
  }
}


button.btn, input[type="submit"] {
  font-weight: normal;
}

/* ------------------------------------
        Product Inkjet
 ------------------------------------- */
.search-form-product {

  form {
    max-width: 502px;
    float: right;

    input[type="text"] {
      height: 60px;
      margin-right: 0;
      margin-left: 4px;
    }

    input.btn {
      font-size: 0;
      background: url(../images/search-icon.jpg) no-repeat;
      width: 60px;
      height: 60px;
      display: inline-block;
      border: 0;
      margin-left: -4px;
    }
  }
}

.product-list {
  padding: 80px 0 50px 0;

  h4 {
    text-transform: uppercase;
  }
}

.one-product {
    margin-bottom: 45px;

    img {
      margin-bottom: 34px;
      width: 100%;
    }
    h5 {
      text-transform: uppercase;
      color: @maincolor;
      font-size: @font-size-h5;
      padding-bottom: 20px;
      word-wrap: break-word;
    }
    p {
      color: @greycustom;
      margin-bottom: 20px;
    }
    .btn {
      text-transform: uppercase;
      font-size: @font-size-18;
    }
  }

.title-product-list {
  margin-bottom: 50px;
}

.filter-box {
  color: @maincolor;
  display: block;
  float: right;

  span {
    display: inline-block;
    vertical-align: sub;
    font-size: @font-size-18;
  }

  .results-count {
    margin-right: 10px;
  }

  .label-filter {
    margin-left: 10px;
  }

  .hidden_select_container {
    display: none;
  }

  .simpleselect {
    width: 130px;
    display: inline-block;
    margin-left: 18px;

    .options {
     width: 100%;
    }

    .placeholder {
      height: 38px;
      line-height: 38px;
      color: @maincolor;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #f6f7fc;

      &:after {
          background: rgba(0, 0, 0, 0) url("../images/triangle-blue.png") no-repeat scroll 0 0;
          right: 11px;
      }
    }
  }

}


.finder {
  background: @newslatterbg;
  padding: 60px 0;

  .item {
     padding-top: 20px;
  }

  h6 {
    color: @maincolor;
    font-size: @font-size-18;
    .translate(0%,-50%);
    top: 50%;
    position: relative;
  }

  .search-form-product {
    padding: 0;

  }

  .one-select-box {

    .simpleselect.active {
      .options {
        height: auto!important;
        overflow-y: hidden!important;
      }
    }

    .simpleselect {
      .corners(0);
      margin-bottom: 36px;

      .placeholder {
        .corners(0);
        background: @maincolor;
        color: @white;
        height: 40px;
        line-height: 40px;
        padding: 0 14px;

        &:after {
          background: rgba(0, 0, 0, 0) url("../images/triangle-light.png") no-repeat scroll 0 0;
          right: 11px;
        }
      }
    }
    &:last-child {
      .simpleselect {

        .placeholder {
          .corners(0);
          background: @white;
          color: @maincolor;

        }
      }
    }

  }
}

.list-brads {
    p {
      color: @white;
      margin-bottom: 28px;
    }

    .btn {
      width: 100%;
    }
  }


.store-form {
  h4 {
    display: inline-block;
    float: left;
    text-align: left;
  }

    form {
      float: right;
      .btn {
        width: 155px;
      }
    }

  }

/* ------------------------------------
       Product Slider Styles
 ------------------------------------- */
.product-slider {
  position: relative;

  div {
   img {
     visibility: hidden;
     opacity: 0;
     width: 100%;
   }
  }
}

.slides {
  
  .social {
    float: right;
    margin: 15px 0 30px;
  }
  i {
    background: #c0c0c0;
    color: #e4e4e4;
    width: 30px;
    height: 30px;
    .corners(30px);
    font-size: 22px;
    text-align: center;
    vertical-align: sub;
    display: inline-block;
    padding-top: 4px;
    .transition(@duration:500ms, @ease:linear);

    &:hover {
      background: @maincolor;
    }

  }
}

#category-slider {
  background: url("../images/bg-slider.jpg") repeat-x scroll 0 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0;

  .slides {
    min-height: 600px;
  }

  .slick-slider {
    margin-bottom: 0;
  }
}

.slider-caption {
  background: @white;
  padding: 33px 22px;
  max-width: 800px;
  margin-right: 60px;
  float: right;
  clear: both;
  margin-bottom: 80px;

  h3 {
    font-size: 30px;
    margin-bottom: 55px;
    color: @maincolor;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 34px;
    color: @maincolor;
  }
}

.slick-dots {
 bottom: 20px;

  li {
    margin: 0;

    button {
      &:before {
        font-size: 45px;
      }
      &:hover {
        &:before {
          color:  @maincolor;
        }
      }
    }
  }

   li.slick-active {
     button {
       &:before {
         color:  @maincolor;
       }
     }
   }
}


.description-map {
  max-width: 460px;

  .btn {
    width: 100%;
  }

  .table-box {
    padding: 20px 20px 0 20px;

    .table-info,  table {
      float: left;
      width: 50%;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 14px;
    }

    th, h6  {
      color: @maincolor;
      padding-bottom: 6px;
      font-size: 14px;
      font-weight: normal;
    }

    td {
      padding-bottom: 6px;
      font-size: 14px;
      color:@greycustom;
    }

  }
}

/* ------------------------------------
        Online Store Styles
 ------------------------------------- */
.online-store {
  padding: 60px 0;

  .one-step {
    margin-bottom: 60px;

    .list-brads {
      margin-top: 40px;
    }

    .btn.active {
      background: @lightbluebtnbg;
    }

    .line-select {
      max-width: 440px;
      margin: -35px auto 0;

      .simpleselect {
        max-width: 180px;
        margin-left: 15px;
        float: left;
      }
    }

    .simpleselect {

      .placeholder {
        font-weight: bold;
        height: 35px;
        line-height: 28px;
        background: #f3f6f9;
        color: @maincolor;
        font-size: @font-size-18;
        text-transform: capitalize;

        &:after {
          background: rgba(0, 0, 0, 0) url("../images/triangle-blue.png") no-repeat scroll 0 0;
          right: 11px;
        }
      }

      .options {
        width: 100%;
        text-transform: capitalize;

        .option {
          height: 35px;
          line-height: 35px;
          font-size: @font-size-18;
        }
      }
    }

    .btn {
      margin-bottom: 18px;
      text-transform: none;
    }

    h6 {
      color: @greycustom;
      font-size: @font-size-18;
      display: inline-block;
    }
    .count-step {
      background: @maincolor;
      color: @white;
      text-align: center;
      width: 30px;
      height: 30px;
      display: inline-block;
      line-height: 30px;
      .corners(20px);
      padding-left: 3px;
      margin-right: 10px;
      font-size: @font-size-18;
    }
  }
}


.print-graphic-consumer {
  img {
    margin-top: -70px;
  }

  .btn {
    margin: 0 auto;
    width: auto;
  }
}

.smart-consumer {
 .smart-part {
   p {
     color: @greycustom;

     &:first-child {
       margin-top: 70px;
     }

   }
 }

  img {
    margin-top: 70px;
  }
}

.page-print {
 img {
   float: none;
 }
   .page-print-text {
     margin-left: 55px;
   }
}


.additional-top-box {
  background: rgba(247,249,253,1);
  height: 100%;
  box-sizing: border-box;
  padding: 0 0 60px 0;

  .additional-top-text {
    margin-left: 100px!important;
    max-width: 498px;


    h4 {
      &:after {
        left:0;
        margin-left: 0;
      }
    }

    p {
      margin-bottom: 28px;
    }

    .social {
      padding: 15px 0 20px 0;
      float: right;


      i {
        background: @lightbluebtnbg;
        color: @white;
        width: 30px;
        height: 30px;
        .corners(30px);
        font-size: 22px;
        text-align: center;
        vertical-align: sub;
        display: inline-block;
        padding-top: 4px;
        .transition(@duration:500ms, @ease:linear);

        &:hover {
          background: @maincolor;
        }
      }
    }
  }

}
/* ------------------------------------
        Single Product Details
 ------------------------------------- */

.single-box {
  padding: 60px 0;
  position: relative;
  z-index: 10;
  background: @white;
}


.single-post {

  .awards-box {
    max-width: 140px;
    float: left;

    ul {
      margin-top: 20px;

      li {
        width: 48%;
        display: inline-block;
        text-align: center;

        img {
          margin: 0 8px 10px 8px;
        }
      }
    }
  }

  h3 {
    margin-bottom: 80px;
    color: @maincolor;
    font-size: 24px;
  }
  h5 {
    font-size: @font-size-18;
    color: @maincolor;
    padding-bottom: 26px;
  }

  .single-description {
    padding-bottom: 26px;

    p {
      margin: 0;
      color: #4b4b4b;
      font-size: @font-size-h6;
    }

    ul {
      padding-bottom: 45px;

      li {
        padding-left: 10px;
        color: #4b4b4b;
        font-size: @font-size-h6;

        &:before {
          content: '•';
          font-size: 14px;
          position: relative;
          left: -10px;
        }
      }
      .btn {
        margin-right: 40px;
      }
    }
  }
}

.related-posts {
  padding-top: 40px;
  .related-one-post {
    margin: 0 20px 20px 0;
    float: left;

    img {
      border: 1px solid #d2d2d2;
    }
  }
}


.product-text {
  padding-top: 80px;
}

.slider  {
  max-width: 502px;
  float: left;
  margin-right: 26px;
  margin-bottom: 0;

  .slick-slide {
    margin-bottom: 20px;
    border: 1px solid #d2d2d2;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .slick-dots  {
    bottom: 0;
    position: relative;

    img {
      border: 1px solid #d2d2d2;
    }

    li {
      width: auto;
      margin-left: 20px;
      height: 100%;

      &:first-child {
        margin-left: 0;
      }
    }

  }
}


/* ------------------------------------
       Breadcrumbs
 ------------------------------------- */
.breadcrumbs {
  padding-bottom: 40px;

  li {
    display: inline-block;
    margin-right: 5px;
    a {
      color: @breadcrumbs-link-color;
      font-size: @mainsize;
      position: relative;
      padding: 0 10px 0 0;

      &:hover {
        text-decoration: underline;
      }

      &:after {
        content: ">";
        color: @breadcrumbs-link-color;
        font-size: @mainsize;
        position: absolute;
        right: -5px;
        top: 0;
        line-height: 18px;
      }
    }

    &:first-child {
      a {
        padding-left: 0;
      }
    }

    span {
      text-decoration: underline;
      color: @maincolor;
      font-size: @mainsize;
      padding-left: 5px;
    }
  }
}

.btn-back {
  color: @breadcrumbs-link-color;
  font-size: @mainsize;

  a {
    color: @maincolor;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}



.service-section-home {
  .special-banner {
    position: relative;

    &:before {
      background: url(../images/think.png) no-repeat;
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      top: 0;
      background-size: auto;
    }

    .special-banner-text {
      padding: 40px 0 40px 0;
      max-width: 520px;
      margin-left: 400px;

      h2 {
        padding-bottom: 20px;
        font-family: 'thesans_4-semilightitalic';
        font-weight: bold;
        font-size: 46px;
      }

      h4 {
        font-family: 'thesans_4-semilightitalic';
      }

      p {
        margin-bottom: 30px;
        padding-right: 80px;
      }
    }

    .btn {
      margin-bottom: 20px;
      display: inline-block;
      background: @btngreen;
      text-transform: uppercase;
    }

    .special-icon {
      background: url(../images/two-images.png) no-repeat;
      width: 450px;
      height: 264px;
      position: absolute;
      right: 0;
      bottom: 20px;
    }
  }
}


.dis-section {
  padding: 0;
  background: #F6F7FC;

  .footer-banner {
    position: relative;
    background: url(../images/bg-footer-banner.png)  repeat-x;

    &:before {
      background: url(../images/image-green.png) no-repeat;
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      top: 0;
      background-size: contain;
    }

    .footer-banner-text {
      padding: 100px 0 20px 0;
      max-width: 440px;
      margin-left: 320px;

      h2 {
        padding-bottom: 40px;
        font-size: 36px;
      }

      h4 {
        font-family: 'thesans_4-semilightitalic';
      }
      p {
        margin-bottom: 30px;
      }
    }

    .btn-link {
      margin-bottom: 40px;
      display: inline-block;
    }

    .special-icon {
      background: url(../images/two-images.png) no-repeat;
      width: 500px;
      height: 325px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

}

.page-pelikan {
  .top-banner {
    height: 100%;
    min-height: 500px;
  }
}

.small-collapse  {
  > div {
    padding: 0;
    margin: 0;
  }
}

.list-icons {
 a {
   max-width: 100px;
   margin: 0 auto;
 }
}


.home {
  .special-banner-text {
    p {
      color:@maincolor;
    }
  }
}


.service-section {
  .special-banner {
    .special-banner-text {
      h2 {
        font-weight: bold;
      }
      h2, h4 {
        font-family: 'thesans_4-semilightitalic';
      }
    }
  }
}



@import "sceens";