@import "variables";


@media only screen and (min-width: 1602px)  and (max-width: 1800px) {
  .logo {
      width: 220px;

      img {
        width: 60%;
      }
    }

  .category-box  {
    .top-banner {
      background-size: 42% !important;
      height: auto;

      .top-description {
          margin-right: 100px;
      }

    }
  }

  .top-box {
    img {
      width: 90%;
    }
    h4 {
      right: 10px;
      max-width: 30%;
    }
  }

}

@media only screen and (max-width: 1600px) {

  #category-slider {
    .slides {
      background-size: 38%!important;
      min-height: 200px;
      height: auto;
    }
  }

  .category-box  {
    .top-banner  {
      background-size: 42% !important;

      .top-description {
        max-width: 56%;
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
  }

  header {
   >  .container {
      padding-top: 50px;
    }

    .logo {
      position: absolute;
      background: none;
      height: 50px;
      right: 0;
      width: 100%;
      float: none;
      text-align: center;

      img {
        position: relative;
      }
    }
  }

  .top-box {
    img {
      width: 70%;
    }
    h4 {
      font-size: 2.2em;
      max-width: 30%;
    }
  }

  .certified  {
    &:before {
      background-size: 48%;
    }

    .certified-text {
      float: right;
    }
    .quality-big {
      display: none;
    }
  }

}

@media only screen and (max-width: 1300px) {

  #category-slider {
   .slider-caption {
      margin-right: 0;
    }
  }

  .text-top {
    margin-right: 0;
  }

  .header-line {
    margin-top: 0;
  }

  .top-special-image {
    width: 40%;
  }

  .header-line {
      .main-bar {
        margin-bottom: 0;
        float: none;
      }

      .additional-info {
        float: none;
        text-align: center;
        margin-bottom: 20px;
      }
    }

  .disposal {
    background-size: contain;
    position: relative;

    .special-banner-text {
      .special-icon {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .top-bar {
    li > a {
      padding: 6px 10px;
    }
  }
  .top-box {
    img {
      width: 40%;
    }
  }

}

@media only screen and (max-width: 1200px) {

  #category-slider {
    .slides {
      background-size: 48%!important;
    }
    .slider-caption {
      margin-bottom: 70px;
      max-width: 600px;
      margin-right: 0;
    }
  }

  .dis-section {
    .footer-banner-text {
      float: right;
      margin-left: 0;
    }
  }

  .certified  {
     .certified-text {
      float: right;
    }
  }

  .top-box {
    h4 {
      font-size: 46px;
       max-width: 180px;
    }
  }

  footer {
    .copyright {
      left: -100%;
      padding-left: 15px;
    }
  }

  .store-form,  .search-form-product  {
    h4 {
      margin-bottom: 20px;
      text-align: center;
      float: none;
      display: block;
    }

    form {
      float: none;
      display: block;
      margin: 0 auto;
    }
  }

  .certified {
    .quality-big {
      display: none;
    }
  }

  .page-print {
    img {
      width: 100%;
    }
  }

  .product-text {
      padding-top: 30px;
  }

  .footer-logo {
      img {
          width: 100%;
      }
  }

  .special-icon {
    display: none;
  }

  .additional-top-box {
    .additional-top-text {
      padding-right: 30px;
      margin-left: 30px!important;
      h4 {
        text-align: left;
      }
    }
  }
}

@media only screen  and (min-width: 920px)  and (max-width: 1100px) {
  .search-form  {
    form {
      .btn {
        position: absolute;
        right: 0;
      }
    }
  }

  .search-results {
    .results-one {
      img {
        width: 100%;
      }
    }
  }
}

@media only screen  and (min-width: 768px)  and (max-width: 1100px) {

  header {
    .simpleselect {
      margin: 10px 20px 0;
    }

    .top-bar  {
      li  {
        > a {
          padding: 14px 5px;
        }
      }
    }
  }

  .top-search {
    width: 20px;

    input[type="text"] {
      display: none;
    }
  }

  .active {
    input[type="text"] {
      display: inline-block;
      width: 200px;
      position: absolute;
      right:0;
    }
  }
}

@media only screen  and (min-width: 768px)  and (max-width: 880px) {

   .login-form {
    width: auto;

    span {
      font-size: 0;
      height: 50px;
    }

    &:hover {
      padding: 0 0 0 34px
    }
  }
}

@media only screen and (max-width: 990px) {

  #category-slider {
    .slides {
      background-size: 48%!important;
    }
    .slider-caption {
      margin-top: 35%;
      margin-bottom: 70px;
      max-width: 100%;
    }
  }

  .dis-section  {
    .footer-banner {
      &:before {
        width: 50%;
      }
    }
  }

  .text-top {
    margin-top: 50px;
  }

  .certified {
    background-size: contain;
    background-color: #F7F8FD;
    position: relative;
    padding: 55% 0 20px 0;


    .certified-text {
      float: none;
    }
    &:before {
      width: 70%;
      background-size: 100%;
    }

    .certified-text {
     margin-left: 0;
    }
  }

  footer {
    .copyright {
      left: 0;
      padding-left: 0;
    }

    .item {
      margin-bottom: 30px;
    }
  }

  .filter-box {
    float: none;
  }

  .service-section-home {
   .special-banner {

     &:before {
       background-size: 36%;
     }

     .special-banner-text {
       padding-left: 320px;
       max-width: 100%;
       padding-right: 50px;
       margin: 0;
     }
   }
  }

  .product-list {
      padding: 40px 0;
  }

  #category-slider {
    .slick-slide {
      background-size: 30%!important;
    }

    .slider-caption {
      margin: 130px 0 70px 0;
    }
  }

  .slider {
    width: 100%;
    margin-bottom: 40px;

    .slick-slide {
      img {
        width: 100%;
      }
    }
  }

  .product-description {
    padding-top: 0;
  }

  .single-post {
    .awards-box {
      text-align: center;
      float: none;
      clear: both;
      max-width: 100%;
      margin: 30px auto 0;

      ul {
        li {
          width: auto;
        }
      }
    }
  }

  .additional-top-box {
    background: rgba(247,249,253,0.88);
  }

   .finder {
    h6 {
      text-align: center;
    }

    .search-form-product {
      form {
        float: none;
        margin: 0 auto;
        display: block;
      }
    }
  }

  .header-small-menu {
    ul.nav {
      text-align: center;
      li {
        display: inline-block;
        float: none;
      }
    }
  }

  .order-list {
      margin-top: 40px;
  }

  .search-blog {
   form {
     position: relative;

     input[type="text"] {
       padding-right: 160px;
     }

     .btn {
       position: absolute;
       right: 0;
       width: 150px;
       top: 0;
       margin-top: 0;
     }
   }
  }

  .blog-results ,  .search-results {
    padding: 20px 0;

    .results-one {
      &:first-child {
        padding-top: 0;
      }

      img {
        margin-bottom: 20px;
        width: auto;
      }
      h5 {
        a {
          font-size: 20px;
        }
      }
    }
  }

  .service-section-home {
    .special-banner {
      .special-banner-text {
        p, h2  {
          .text-shadow ( 0 0 2px @white);
        }
        p {
          padding-right: 0;
        }
      }
    }
  }

  .footer-logo {
    img {
      width: auto;
    }
  }

  .content {
    .list-icons {
      padding-top: 60px;
    }
  }

  .list-category {
    .list-icons {
      padding-top: 0;

      img {
        position: relative;
        .translate(0, 0);
        margin: 0 auto;
        display: block;
        width: auto;
        top: 0;
        left:0;
      }

      span {
        .translate(0, 0);
        width: 100%;
        left: 0;
        max-width: 100%;
        text-align: center;
        line-height: 26px;
        position: relative;
        clear: both;
        top: 0;
        margin-left: 0;
      }

      a {
        margin: 0 auto;
        max-width: 145px;
      }
    }
  }

  .service-section  {
    .special-banner-text {
      left:0;
    }
  }

  .top-banner {
    min-height: 200px;
  }

  .smart {
    .smart-part {
      img {
        width: auto;
        margin: 20px auto 0;
      }
    }
  }

  .top-box  {

    img {
      width: 45%;
    }
    .btn {
      left: 50px;
      margin-left: 0;
    }
  }

  .collapse-row {
    .row-fluid  {
        *:nth-child(3) {
          .btn {
            margin-left: 0;
          }
        }
      }
  }

  .quality-icon {
    display: none;
  }

  .print-graphic {
    img {
      float: none;
      display: block;
      margin: 20px auto;
      width: auto;
    }
  }

  .certified {
    background-size: contain;
    position: relative;

    .quality-big {
      display: none;
    }
  }

  footer {
    .footer-menu {
      margin-bottom: 20px;
    }

    .social {
      float: none;
      margin-bottom: 20px;
    }

    .copyright {
      position: relative;
      left: 0;
      bottom: 0;
      clear: both;
    }
  }

}

@media only screen and (min-width: 767px) and (max-width: 880px) {
  img.align-right {
    width: auto;
    clear: both;
    margin: 0 auto;
    float: none;
    display: block;
  }
  .special-banner {
    &:before {
      width: 50%;
    }

    .special-banner-text {
      margin-left: 360px;
      h2 {
        font-size: 36px;
      }
    }
  }
}

@media only screen and (max-width: 880px) {

  .dis-section {
    .footer-banner  {

      &:before {
        width: 55%;
      }
       .footer-banner-text {
         padding: 50% 0 50px 0 ;
         margin-left: 0;
         float: none;
         max-width: 100%;
         h2 {
           padding-bottom: 20px;
         }
      }
    }
    
  }

  #category-slider {
    .slides {
      background-size: 48%!important;
    }
    .slider-caption {
      margin-top: 35%;
      margin-bottom: 70px;
      max-width: 100%;
    }
  }

  .subscribe-section {
      form {
          margin-left: 0;
      }
  }

  .top-special-image {
      width: 330px;
  }

  .text-top {
    margin-top: 100px;
    margin-bottom: 0;
  }

  .print-graphic {
    .page-print-text {
      margin-left: 0;
    }
  }

  .print-graphic-consumer {
    img{
      width: auto;
    }
  }

  .label {
      padding-left: 0;
  }

  .results-one, .search-results {
    padding-top: 0;
    img {
      margin-bottom: 20px;
    }
  }

  .brands {
    padding: 30px 0;

    .list-brads {
      padding-top: 20px;
    }
  }

  .certified {
    .certified-text {
      margin: 0 auto;
    }
  }

  .search-results, .blog-results {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 767px) {
  .top-info {
    height: auto;
  }
  .top-banner {
     min-height: 200px;
    height: auto;
  }
  .text-top {
    margin-top: 0;
    float: none;
    margin-bottom: 40px;
    max-width: 100%;
  }

  .top-box  {
    img {
      width: 100%;
    }
    h4 {
      position: relative;
      padding: 25% 30px 20px 30px;
      max-width: 100%;
      text-align: center;
    }
  }
  .print-graphic {
    img {
      width: auto;
    }
  }

  .results-one, .search-results {
    img {
      width: auto!important;
    }
  }

  .smart  {
     .smart-part  {
       img {
          width: auto;
       }
     }
  }

  .search-form-product  {
     form  {

       input[type="text"] {
         margin-left: 0;
       }
        input.btn {
            margin-left: 0;
       }
    }

  }
  .sub-menu.dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
  }

  .order-list  {
    .one-box {
      margin: 0 auto 30px!important;
    }
  }

  .top-info {
    padding: 30px 0;
  }

  .category-box {
    .top-banner {
      background-size: 50%!important;

      .top-description {
        max-width: 430px;
        float: right;
        margin-bottom: 40px;
      }
    }
  }

  .header-line {
    .main-bar {
      margin-bottom: 0;
      float: none;

      .navbar-nav {
        float: none;
        text-align: left;

        > li {
          float: none;
          display: block;
          width: 100%;
          clear: both;
        }
      }
    }
  }

  .hide-login {
    border-top: 1px solid @lightbluebtnbg;

    h4 {
      text-align: center;
    }
    form {
      max-width: 320px;
      margin: 0 auto;
    }
  }

  .top-box  {
    max-width: 320px;
    margin: 0 auto 20px;

    .btn {
      left: 50%;
      max-width: 320px;
      width: 100%;
      margin-left: -160px;
    }

  }

  .collapse-row  {
    .row-fluid  {
      *:nth-child(3)  {
        .btn {
          margin-left: 0;
          width: 100%;
          max-width: 100%;
          left: 0;
        }
      }
    }
  }

  .service-part {
      margin-bottom: 40px;
  }


  .content {
    h1 {
      padding: 20px 0;
    }
    .list-icons {
      padding-top: 0;
    }
  }
  .list-icons {
    padding-top: 0;

    img {
      left: 0;
    }
    a {
      max-width: 320px;
      margin: 0 auto;
    }
  }


  .content {
    img {
      width: auto;
    }

    img.align-right {
      display: block;
      margin: 0 auto;
      text-align: center;
      float: none;
    }
  }
  .newsletter  {
    input[type="text"] {
      max-width: 300px;
    }

    button {
      clear: both;
      display: block;
    }

  }

  header {
    .simpleselect {
      .placeholder {
           padding: 6px 14px;
      }
    }
  }

  .additional-top-box {
    padding-bottom: 20px;
    background: rgba(247,249,253,0.7);

    .additional-top-text {
      h4 {
        margin-bottom: 20px;
      }
        margin: 0 15px!important;
    }
  }

  .print-graphic,
  .smart-consumer {
    padding-bottom: 0;
    position: relative;
    z-index: 10;
    background: @white;
  }

  .smart-consumer {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .page-print {

    h4 {
      margin-bottom: 20px;
    }

    .page-print-text {
      margin: 20px 0 20px 0;
    }
  }

  .online-store {
    padding-bottom: 0;
    .one-step  {
      margin-bottom: 20px;

      .line-select {
        width: 100%;
        float: none;
        margin: 20px 0;
        clear: both;
      }
      .simpleselect {
        margin-bottom: 20px;
      }
    }
  }

  .description-map  {
    .table-box   {
      .table-info, table {
        width: 100%;
      }
    }
  }

  .map {
    padding: 30px 0;
  }


  .store-form {
    input.btn {
      width: 100%;
      max-width: 100%;
    }
  }

  .service-section {
    .special-icon {
      display: none;
    }
  }

  .btn-back {
    float: left;
    margin-top: 20px;
    clear: both;
  }


  .single-box {
    padding-bottom: 30px;
  }
  .single-post {

    h3 {
      margin-bottom: 20px;
    }

    .awards-box {
      margin: 0 auto;
      float: none;
      max-width: 100%;

      img {
        margin: 0 auto;
        display: block;
      }

      ul {
        text-align: center;
        li {
          width: auto;
        }
      }
    }
  }

  .slider {
    max-width: 100%;
    margin-bottom: 30px;
    width: 100%;
    
    .slick-slide {
      img {
          width: 100%;
      }
    }
  }

  .product-slider {
    img {
      width: 100%;
    }

    .slick-dots {
      display: none!important;
    }
  }


  .product-list {
    padding: 20px 0;
  }

  .search-form-product {
    form {
      position: relative;
      max-width: 100%;

      input[type="text"] {
        padding-right: 80px;
        max-width: 100%;
      }
      input.btn {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 0;
      }
    }
  }

  .finder {

    .list-brads {
      padding-top: 20px;
    }
    h6 {
      text-align: center;
    }

    .item {
      padding-top: 10px;
    }
    .one-select-box {
      .simpleselect {
        margin-bottom: 10px;
      }
    }
  }

  .brands {
    position: relative;
    z-index: 10;

    h4 {
      line-height: 38px;

      img {
         width: 36px;
       }
    }

    .line-border {
      width: 80px;
      margin-left: -40px;
    }
  }

  .dis-section {
    .footer-banner {
      .special-icon {
        display: none;
      }

      .footer-banner-text {
        margin-left: 0;
      }
    }
  }

  .one-product {
    max-width: 280px;
    margin: 0 auto 34px;

    img {
      width: auto;
    }
  }
  .smart {
    position: relative;
    z-index: 10;
    background: @white;

    .smart-part {
      img {
        margin: 20px auto 0;
        width: auto;
      }

      p {
        &:first-child {
          margin-top: 30px;
        }
      }
    }
  }

  .brands {
    .simpleselect {
      .placeholder {
        font-size: 15px;
      }
    }

  }

  .top-info {
    margin-bottom: 40px;

    .call-box {
      padding: 35px 15px;

      form {
        .btn {
          width: 100%;
        }
      }
    }
  }

  .search-form  {
    padding: 20px 0;

    h4 {
      margin-bottom: 20px;
      padding-top: 0;

      img {
        float: left;
        width: 36px;
      }
    }
    .btn {
      width: 100%;
      margin-top: 10px;
    }
  }

  .list-category-resellers {
    padding: 20px 0 40px 0;

    .one-item {
      padding-top: 20px;
    }
  }

  .service-section  {
    .special-banner-text {
      left:0;
    }
  }

  .special-banner {
    img {
      width: 100%;
    }
  }

  .top-banner {
    min-height: 200px;
  }

  .subscribe-section {
    padding: 40px 0;

    form {
      margin-top: 20px;

      .label {
        text-align: left;
      }
    }
  }

  .contact-form  {
    .simpleselect {
      margin-bottom: 15px;
    }
  }

  /* ------------------------------------
         Menu Styles
  ------------------------------------- */

  .header-line {
    margin-top: 0;

    .additional-info  {
      float: none;
      text-align: center;
      width: 100%;
      margin: 20px 0;

      span {
        padding: 0 20px 0 0;
      }
    }

    .navbar-brand {
      display: block;
      text-align: right;
      float: right;
    }


    .main-bar {
      float: none;
      clear: both;
      background-color: @maincolor;
      color:@white;

      .navbar-nav {
        padding: 0;
        margin: 0;

        li {
          a {
            color: @white;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            display: block;
            font-size: @font-size-h6;

            &:hover {
              background-color: @lightbluebtnbg;

            }
          }
        }

        .dropdown-menu {
          li {
            a {
              padding: 13px 20px;
              text-transform: uppercase;
              display: inline-block;
              color: @white;
              font-size: 16px;

              &:hover {
                color: @white;
              }
            }
          }
        }

      }

      .nav > li > a:focus,
      .nav > li > a:hover {
        background-color: @lightbluebtnbg;
      }
    }

    .nav .open > a, .nav .open > a:focus,
    .nav .open > a:hover  {
      border: 0;
      background-color: @lightbluebtnbg;
    }
  }

  .navbar-toggle  {
    .icon-bar {
      background-color: @white;
    }

  }

  .sidebar-right {
    margin-top: 20px;
  }

  .store-form {
    form {
      max-width: 100%;

      input[type="text"] {
        max-width: 100%;
      }
    }
  }


  .search-blog {
    input[type="text"] {
      max-width: 100%;
    }

    form {
      max-width: 100%;
    }
  }


  /* ------------------------------------
          Header Styles
   ------------------------------------- */
  header {

    .logo {
      position: absolute;
      background: none;
      height: 50px;
      right: 0;
      width: 100%;
      float: none;
      text-align: center;

      img {
        position: relative;
      }
    }

    .login-form  {
      background: #f3f6f9;
      clear: both;
      float: none;
      max-width: 100%;
      margin-bottom: 10px;

      .hide-login {
        width: 100%;

        .register-box {
          padding-top: 20px;
          text-align: center;

          button {
            margin: 0 auto 45px;
          }
        }
      }
    }

    .top-bar {
      .nav {
        li {
          text-align: center;
          a {
            padding: 6px 10px;
          }
        }
      }
    }

    .top-search {
      max-width: 100%;
      width: 49%;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .simpleselect {
      width: 49%;
      float: left;
      margin:  0 0 10px 0;

      .placeholder {
        background: #f3f6f9;
      }
      .options {
        width: 100%;
      }
    }
  }

  /* ------------------------------------
          Content Styles
   ------------------------------------- */
  .content {
    padding: 0 0 30px 0;

    .one-post {
      img {
        width: auto;
      }
    }
  }

  h1 {
    font-size: 40px;
    clear: both;
    padding: 20px 0;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 22px;
  }

  .title-page {
    font-size: 22px;
  }


  .brands {
    padding: 20px 0;
  }


  .list-icons {
    padding-bottom: 40px;

    img {
      position: relative;
      .translate(0, 0);
      margin: 0 auto;
      display: block;
      width: auto;
      top: 0;
    }

    span {
      .translate(0, 0);
      width: 100%;
      left: 0;
      max-width: 100%;
      text-align: center;
      line-height: 26px;
      position: relative;
    }

  }
  .special-banner {
    .special-banner-text {
      float: none;
      width: auto;
      max-width: 300px;
      clear: both;
      margin-left: 360px;
    }
  }

  .order {
    padding: 40px 0 0 0;

    .order-list {
      clear: both;
      margin-top: 20px;
    }
  }

  .news {
    padding: 40px 0;

    ul {
      margin-top: 20px;
    }
  }

  .list-downloads {
    margin-top: 20px;
  }

  .brands{
    .icon-brand {
      left: -12px;
    }
  }

  .list-category {
    .list-icons {
      a {
        height: auto;
      }
    }
  }

  .certified {
    background-size: contain;
    position: relative;
    padding: 55% 0 20px 0;

    &:before {
      width: 70%;
    }

   .quality-big {
      display: none;
    }

    .certified-text {
      padding: 20px 0;
      margin-left: 0;
    }

    .btn {
      margin-top: 0;
    }
  }

  .quality-icon ,
  .top-special-image {
    display: none;
  }

  .order-list {
    .one-box {
      margin: 0 auto 30px;
      clear: both;
      float: none;
      display: block;
      max-width: 300px;
      text-align: center;

    }
  }

  .search-form  {
    h4 {
      text-align: left;
    }
  }

  /* ------------------------------------
          Footer Styles
   ------------------------------------- */
  footer {

    .newsletter {
      margin-bottom: 30px;
    }

    .footer-logo {
      padding-bottom: 20px;
      img {
        width: auto;
      }
    }

  }
}

@media only screen and (max-width: 620px) {

  .smart {
    .smart-part {
      img {
        width: 100%;
      }
    }
  }

  .content {
    .home-content {
      h1 {
        padding: 20px 0;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 580px) {

  /* ------------------------------------
      Content Styles
------------------------------------- */
  .page-pelikan  {
    .top-banner {
      min-height: 200px;
    }
  }

  .category-box {
    .top-banner {
      background-image: none!important;

      .top-description {
        max-width: 100%;
        float: none;

        h1 {
          margin-bottom: 10px;
          font-size: 30px;
        }

        h3 {
          font-size: 22px;
        }

      }
      .account-log {
        padding-bottom: 30px;
      }
    }
  }

  /* ------------------------------------
      Header Styles
------------------------------------- */
  .header-line  {
    .additional-info {
      margin: 20px 15px;
      width: auto;

      .btn {
        float: right;
      }
    }
  }
}

@media only screen and (max-width: 480px) {

  /* ------------------------------------
        Content Styles
  ------------------------------------- */
  .list-icons {
    img {
      width: 25%;
    }

    span {
      font-size: 16px;
    }
  }

  .header-line {
    .additional-info {
      .btn {
        float: none;
      }
    }
    
  }
  
  .service-section-home  {
     .special-banner  {
         .special-banner-text {
           padding: 40px;
         }
      }
  }

  .content  {
    .home-content {
      img {
        width: 100%;
      }
      h1 {
        padding: 20px 0;
      }
    }

  }

  .product-slider {
    .slick-slide {

      img {
        min-height: 140px;
      }
    }
  }

  .top-info {
    .call-box {
      h1 {
        font-size: 30px;
      }
      h5 {
        font-size: 22px;
      }
    }
  }

  .print-graphic {
    padding-top: 30px;
    img {
      width: 100%;
    }
  }

  .brands  {
    h4 {
      line-height: 28px;
    }

    .btn {
      font-size: 15px;
    }
  }

  .filter-box {
    .label-filter {
      clear: both;
      margin-left: 0;
    }
    .def-icon {
      display: none;
    }
  }

   .newsletter  {
    input[type="text"] {
      max-width: 100%;
    }

    button {
      clear: both;
      display: block;
    }

  }

  .slider-caption {
    margin-right: 0;
  }

  .brands.finder {
    span {
      line-height: 40px;
    }
  }

  .product-slider {
    div{
      height: 200px;
    }
  }
}

@media only screen and (min-width: 781px) {

  .sub-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 46px;
    width: 100%;

    li {
      background: @maincolor;
      width: 100%;
      border-top: 1px solid @white;

      a {
        padding: 13px 12px;
        text-transform: uppercase;
        display: inline-block;
        color: @white;
        font-size: 16px;

        &:hover {
          text-decoration: none;
          color: @white;
        }
      }
    }
  }

  .navbar-nav > li:hover {
    .sub-menu {
      display: block;
    }
  }
}

@media only screen and (max-width: 600px){

  .subscribe-section {
    .subscribe-section-description {
      p {
        padding-right: 0;
      }
    }
  }

  .service-section-home {
    .special-banner {

      &:before {
        background-size: 55%;
      }

      .special-banner-text {
        padding: 58% 30px 40px 30px;
        max-width: 100%;
        margin: 0;
        h2 {
          font-size: 30px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  .special-banner  {

    &:before {
     width: 90%;
    }
    .special-banner-text {
      margin: 55% 30px 0 30px;
      max-width: 100%;
    }
  }

}

@media only screen and (max-width: 380px) {

  #category-slider {
    .slides {
      background-size: 64% auto !important;
    }

    .slider-caption {
      margin-bottom: 30px;
    }
  }

  .special-banner {
    .special-banner-text {
      margin-top: 55%;

      h2 {
        padding-bottom: 10px;
      }
    }
  }

  header {
    .simpleselect {
      width: 100%;
      float: none;
    }

  .top-search {
      width: 100%;
      clear: both;
      float: none;
  }
  }

  .filter-box  {
    .label-filter {
      text-align: center;
    }
    .simpleselect {
      clear: both;
      margin-left: 0;
      margin-top: 10px;
    }
  }

  .search-blog {
    form {
      position: relative;


      input[type="text"] {
        padding-right: 20px;
      }

      .btn {
        position: relative;
        clear: both;
        right: 0;
        width: 100%;
        margin-top: 0;
      }
    }
  }
}

