// Add variables here

/*---------------------OTHER STYLES-----------------------------------------*/

@linkcolor: #8d8d8d;
@bluebtnbg: #0d4893;
@lightbluebtnbg: #9bb5d3;

@whitebtnbg: #f8f8f8;
@whitebtncolor: #0d4893;
@white: #fff;

@maincolor: #0d4894;
@mainsize: 16px;

@newslatterbg: #1aa0e0;

@btngreen: #80bd23;
@search-bg: #1aa1e1;

@greycustom: #636362;
@breadcrumbs-link-color: #a3a3a3;

@font-size-h1:60px;
@font-size-h2: 55px;
@font-size-h3: 45px;
@font-size-h4: 36px;
@font-size-h5: 21px;
@font-size-h6: 16px;
@font-size-small: 12px;

@font-size-18: 18px;
@footer-link-color: #a5b2cf;

.gradient() {

  background: #f4f4f4; /* Old browsers */
  background: -moz-linear-gradient(top,  #f4f4f4 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f4f4f4 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

 .opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}

.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  -o-transition-duration: @duration;
  transition-duration: @duration;
}

.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

.rotation(@deg:5deg){
  .transform(rotate(@deg));
}

.scale(@ratio:1.5){
  .transform(scale(@ratio));
}

.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}

.transition(@duration:500ms, @ease:linear) {
-webkit-transition: background-color 500ms linear;
-moz-transition: background-color 500ms linear;
-o-transition: background-color 500ms linear;
-ms-transition: background-color 500ms linear;
transition: background-color 500ms linear;
 }

.translate(@x:0, @y:0) {
  .transform(translate(@x, @y));
}

.corners (@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.text-shadow (@string) {
  text-shadow: @string;
}

@font-face {
  font-family: 'thesans_2e-extralightexpertRg';
  src: url('../fonts/thesa36-webfont.eot');
  src: url('../fonts/thesa36-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa36-webfont.woff2') format('woff2'),
  url('../fonts/thesa36-webfont.woff') format('woff'),
  url('../fonts/thesa36-webfont.ttf') format('truetype'),
  url('../fonts/thesa36-webfont.svg#thesans_2e-extralightexpertRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_2e-extralightexpertIt';
  src: url('../fonts/thesa37-webfont.eot');
  src: url('../fonts/thesa37-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa37-webfont.woff2') format('woff2'),
  url('../fonts/thesa37-webfont.woff') format('woff'),
  url('../fonts/thesa37-webfont.ttf') format('truetype'),
  url('../fonts/thesa37-webfont.svg#thesans_2e-extralightexpertIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_2-extralightitalic';
  src: url('../fonts/thesa38-webfont.eot');
  src: url('../fonts/thesa38-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa38-webfont.woff2') format('woff2'),
  url('../fonts/thesa38-webfont.woff') format('woff'),
  url('../fonts/thesa38-webfont.ttf') format('truetype'),
  url('../fonts/thesa38-webfont.svg#thesans_2-extralightitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_2-extralightplain';
  src: url('../fonts/thesa39-webfont.eot');
  src: url('../fonts/thesa39-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa39-webfont.woff2') format('woff2'),
  url('../fonts/thesa39-webfont.woff') format('woff'),
  url('../fonts/thesa39-webfont.ttf') format('truetype'),
  url('../fonts/thesa39-webfont.svg#thesans_2-extralightplain') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_5italic';
  src: url('../fonts/thesa40-webfont.eot');
  src: url('../fonts/thesa40-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa40-webfont.woff2') format('woff2'),
  url('../fonts/thesa40-webfont.woff') format('woff'),
  url('../fonts/thesa40-webfont.ttf') format('truetype'),
  url('../fonts/thesa40-webfont.svg#thesans_5italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_3-lightcaps';
  src: url('../fonts/thesa41-webfont.eot');
  src: url('../fonts/thesa41-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa41-webfont.woff2') format('woff2'),
  url('../fonts/thesa41-webfont.woff') format('woff'),
  url('../fonts/thesa41-webfont.ttf') format('truetype'),
  url('../fonts/thesa41-webfont.svg#thesans_3-lightcaps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_3-lightcaps_italic';
  src: url('../fonts/thesa42-webfont.eot');
  src: url('../fonts/thesa42-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa42-webfont.woff2') format('woff2'),
  url('../fonts/thesa42-webfont.ttf') format('truetype'),
  url('../fonts/thesa42-webfont.svg#thesans_3-lightcaps_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_3e-lightexpertregular';
  src: url('../fonts/thesa43-webfont.eot');
  src: url('../fonts/thesa43-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa43-webfont.woff2') format('woff2'),
  url('../fonts/thesa43-webfont.woff') format('woff'),
  url('../fonts/thesa43-webfont.ttf') format('truetype'),
  url('../fonts/thesa43-webfont.svg#thesans_3e-lightexpertregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_3e-lightexperexpertIt';
  src: url('../fonts/thesa44-webfont.eot');
  src: url('../fonts/thesa44-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa44-webfont.woff2') format('woff2'),
  url('../fonts/thesa44-webfont.woff') format('woff'),
  url('../fonts/thesa44-webfont.ttf') format('truetype'),
  url('../fonts/thesa44-webfont.svg#thesans_3e-lightexperexpertIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_3-lightplain';
  src: url('../fonts/thesa46-webfont.eot');
  src: url('../fonts/thesa46-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa46-webfont.woff2') format('woff2'),
  url('../fonts/thesa46-webfont.woff') format('woff'),
  url('../fonts/thesa46-webfont.ttf') format('truetype'),
  url('../fonts/thesa46-webfont.svg#thesans_3-lightplain') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_5plain';
  src: url('../fonts/thesa47-webfont.eot');
  src: url('../fonts/thesa47-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa47-webfont.woff2') format('woff2'),
  url('../fonts/thesa47-webfont.woff') format('woff'),
  url('../fonts/thesa47-webfont.ttf') format('truetype'),
  url('../fonts/thesa47-webfont.svg#thesans_5plain') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'the_sans_black-caps';
  src: url('../fonts/thesa12-webfont.eot');
  src: url('../fonts/thesa12-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa12-webfont.woff2') format('woff2'),
  url('../fonts/thesa12-webfont.woff') format('woff'),
  url('../fonts/thesa12-webfont.ttf') format('truetype'),
  url('../fonts/thesa12-webfont.svg#the_sans_black-caps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'the_sans_black-caps_italic';
  src: url('../fonts/thesa13-webfont.eot');
  src: url('../fonts/thesa13-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa13-webfont.woff2') format('woff2'),
  url('../fonts/thesa13-webfont.woff') format('woff'),
  url('../fonts/thesa13-webfont.ttf') format('truetype'),
  url('../fonts/thesa13-webfont.svg#the_sans_black-caps_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_9e-blackexpertregular';
  src: url('../fonts/thesa14-webfont.eot');
  src: url('../fonts/thesa14-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa14-webfont.woff2') format('woff2'),
  url('../fonts/thesa14-webfont.woff') format('woff'),
  url('../fonts/thesa14-webfont.ttf') format('truetype'),
  url('../fonts/thesa14-webfont.svg#thesans_9e-blackexpertregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_9e-blackexperexpertIt';
  src: url('../fonts/thesa15-webfont.eot');
  src: url('../fonts/thesa15-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa15-webfont.woff2') format('woff2'),
  url('../fonts/thesa15-webfont.woff') format('woff'),
  url('../fonts/thesa15-webfont.ttf') format('truetype'),
  url('../fonts/thesa15-webfont.svg#thesans_9e-blackexperexpertIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'the_sans_black-italic';
  src: url('../fonts/thesa16-webfont.eot');
  src: url('../fonts/thesa16-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa16-webfont.woff2') format('woff2'),
  url('../fonts/thesa16-webfont.woff') format('woff'),
  url('../fonts/thesa16-webfont.ttf') format('truetype'),
  url('../fonts/thesa16-webfont.svg#the_sans_black-italic') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'the_sans_black-plain';
  src: url('../fonts/thesa17-webfont.eot');
  src: url('../fonts/thesa17-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa17-webfont.woff2') format('woff2'),
  url('../fonts/thesa17-webfont.woff') format('woff'),
  url('../fonts/thesa17-webfont.ttf') format('truetype'),
  url('../fonts/thesa17-webfont.svg#the_sans_black-plain') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'thesans_7-boldcaps';
  src: url('../fonts/thesa18-webfont.eot');
  src: url('../fonts/thesa18-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa18-webfont.woff2') format('woff2'),
  url('../fonts/thesa18-webfont.woff') format('woff'),
  url('../fonts/thesa18-webfont.ttf') format('truetype'),
  url('../fonts/thesa18-webfont.svg#thesans_7-boldcaps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_7-boldcaps_italic';
  src: url('../fonts/thesa19-webfont.eot');
  src: url('../fonts/thesa19-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa19-webfont.woff2') format('woff2'),
  url('../fonts/thesa19-webfont.woff') format('woff'),
  url('../fonts/thesa19-webfont.ttf') format('truetype'),
  url('../fonts/thesa19-webfont.svg#thesans_7-boldcaps_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_7e-boldexpertregular';
  src: url('../fonts/thesa20-webfont.eot');
  src: url('../fonts/thesa20-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa20-webfont.woff2') format('woff2'),
  url('../fonts/thesa20-webfont.woff') format('woff'),
  url('../fonts/thesa20-webfont.ttf') format('truetype'),
  url('../fonts/thesa20-webfont.svg#thesans_7e-boldexpertregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_7e-boldexpertexpertIt';
  src: url('../fonts/thesa21-webfont.eot');
  src: url('../fonts/thesa21-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa21-webfont.woff2') format('woff2'),
  url('../fonts/thesa21-webfont.woff') format('woff'),
  url('../fonts/thesa21-webfont.ttf') format('truetype'),
  url('../fonts/thesa21-webfont.svg#thesans_7e-boldexpertexpertIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_7-bolditalic';
  src: url('../fonts/thesa22-webfont.eot');
  src: url('../fonts/thesa22-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa22-webfont.woff2') format('woff2'),
  url('../fonts/thesa22-webfont.woff') format('woff'),
  url('../fonts/thesa22-webfont.ttf') format('truetype'),
  url('../fonts/thesa22-webfont.svg#thesans_7-bolditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_7-boldplain';
  src: url('../fonts/thesa23-webfont.eot');
  src: url('../fonts/thesa23-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa23-webfont.woff2') format('woff2'),
  url('../fonts/thesa23-webfont.woff') format('woff'),
  url('../fonts/thesa23-webfont.ttf') format('truetype'),
  url('../fonts/thesa23-webfont.svg#thesans_7-boldplain') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_6-semiboldcaps';
  src: url('../fonts/thesa48-webfont.eot');
  src: url('../fonts/thesa48-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa48-webfont.woff2') format('woff2'),
  url('../fonts/thesa48-webfont.woff') format('woff'),
  url('../fonts/thesa48-webfont.ttf') format('truetype'),
  url('../fonts/thesa48-webfont.svg#thesans_6-semiboldcaps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_6-semiboldcaps_italic';
  src: url('../fonts/thesa49-webfont.eot');
  src: url('../fonts/thesa49-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa49-webfont.woff2') format('woff2'),
  url('../fonts/thesa49-webfont.woff') format('woff'),
  url('../fonts/thesa49-webfont.ttf') format('truetype'),
  url('../fonts/thesa49-webfont.svg#thesans_6-semiboldcaps_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_6e-semiboldexpertRg';
  src: url('../fonts/thesa50-webfont.eot');
  src: url('../fonts/thesa50-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa50-webfont.woff2') format('woff2'),
  url('../fonts/thesa50-webfont.woff') format('woff'),
  url('../fonts/thesa50-webfont.ttf') format('truetype'),
  url('../fonts/thesa50-webfont.svg#thesans_6e-semiboldexpertRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_6e-semiboldexexpertIt';
  src: url('../fonts/thesa51-webfont.eot');
  src: url('../fonts/thesa51-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa51-webfont.woff2') format('woff2'),
  url('../fonts/thesa51-webfont.woff') format('woff'),
  url('../fonts/thesa51-webfont.ttf') format('truetype'),
  url('../fonts/thesa51-webfont.svg#thesans_6e-semiboldexexpertIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_6-semibolditalic';
  src: url('../fonts/thesa52-webfont.eot');
  src: url('../fonts/thesa52-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa52-webfont.woff2') format('woff2'),
  url('../fonts/thesa52-webfont.woff') format('woff'),
  url('../fonts/thesa52-webfont.ttf') format('truetype'),
  url('../fonts/thesa52-webfont.svg#thesans_6-semibolditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_6-semiboldplain';
  src: url('../fonts/thesa53-webfont.eot');
  src: url('../fonts/thesa53-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa53-webfont.woff2') format('woff2'),
  url('../fonts/thesa53-webfont.woff') format('woff'),
  url('../fonts/thesa53-webfont.ttf') format('truetype'),
  url('../fonts/thesa53-webfont.svg#thesans_6-semiboldplain') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_4-semilightcaps';
  src: url('../fonts/thesa54-webfont.eot');
  src: url('../fonts/thesa54-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa54-webfont.woff2') format('woff2'),
  url('../fonts/thesa54-webfont.woff') format('woff'),
  url('../fonts/thesa54-webfont.ttf') format('truetype'),
  url('../fonts/thesa54-webfont.svg#thesans_4-semilightcaps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_4-semilightcapsIt';
  src: url('../fonts/thesa55-webfont.eot');
  src: url('../fonts/thesa55-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa55-webfont.woff2') format('woff2'),
  url('../fonts/thesa55-webfont.woff') format('woff'),
  url('../fonts/thesa55-webfont.ttf') format('truetype'),
  url('../fonts/thesa55-webfont.svg#thesans_4-semilightcapsIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_4e-semilightexpertRg';
  src: url('../fonts/thesa56-webfont.eot');
  src: url('../fonts/thesa56-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa56-webfont.woff2') format('woff2'),
  url('../fonts/thesa56-webfont.woff') format('woff'),
  url('../fonts/thesa56-webfont.ttf') format('truetype'),
  url('../fonts/thesa56-webfont.svg#thesans_4e-semilightexpertRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_4e-semilighteexpertIt';
  src: url('../fonts/thesa57-webfont.eot');
  src: url('../fonts/thesa57-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa57-webfont.woff2') format('woff2'),
  url('../fonts/thesa57-webfont.woff') format('woff'),
  url('../fonts/thesa57-webfont.ttf') format('truetype'),
  url('../fonts/thesa57-webfont.svg#thesans_4e-semilighteexpertIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_4-semilightitalic';
  src: url('../fonts/thesa58-webfont.eot');
  src: url('../fonts/thesa58-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa58-webfont.woff2') format('woff2'),
  url('../fonts/thesa58-webfont.woff') format('woff'),
  url('../fonts/thesa58-webfont.ttf') format('truetype'),
  url('../fonts/thesa58-webfont.svg#thesans_4-semilightitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thesans_4-semilightplain';
  src: url('../fonts/thesa59-webfont.eot');
  src: url('../fonts/thesa59-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/thesa59-webfont.woff2') format('woff2'),
  url('../fonts/thesa59-webfont.woff') format('woff'),
  url('../fonts/thesa59-webfont.ttf') format('truetype'),
  url('../fonts/thesa59-webfont.svg#thesans_4-semilightplain') format('svg');
  font-weight: normal;
  font-style: normal;
}